.mainMenu {
	display: table;
	width: 100%;
	margin: 0 auto;
	padding: 15px 0;
	li {
		display: table-cell;
		text-align: center;
		a {
			font: normal 16px Voltaire;
			color: #595243;
			text-decoration: none;
			text-transform: uppercase;
			padding: 5px 15px;
			@include border-radius(10px);
			@include transition(background 0.3s);
			&:hover {
				background: darken(#f4ead5,5%);
			}
		}
		&.current {
			a {
				border-top: 1px solid #a99b84;
				border-left: 1px solid #a99b84;
				background: #f4ead5;
				@include box-shadow(inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2));
				&:hover {
					cursor: default;
				}
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
	.mainMenu li a {
		padding: 5px;
	}
}

@media only screen and (min-width: 1280px) {
	.mainMenu {
		padding: 20px 0;
		position: relative;
		top: 8px;
		li a {
			font-size: 20px;
		}
	}
}
@media only screen and (max-width: 767px) {
	.mainMenu {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0;
		height: 0;
		overflow: hidden;
		max-height: 0;
		@include transition(max-height 0.5s);
		display: block;
		li {
			display: block;
			width: 100%;
			padding: 0;
			@include box-sizing(border-box);
			a {
				display: block;
				background: #f4ead5;
				@include border-radius(0);
				border-bottom: 1px solid #ddd2c0;
				@include box-sizing(border-box);
				padding: 0 20px;
				width: 100%;
				margin: 0 auto;
				line-height: 40px;
				text-align: left;
				position: relative;
				&:after {
					display: block;
					position: absolute;
					background: url(../img/mobilePanelIco.png) no-repeat;
					background-position: 0 0; 
					width: 6px; 
					height: 10px; 
					right: 22px;
					top: 15px;
					content: "";
				}
				&:hover {
					background: #fffce9;
				}
			}
			&.current {
				a {
					@include box-shadow(none);	
					padding: 0 20px;
					background: darken(#f4ead5,5%);
					&:hover {
						background: darken(#f4ead5,5%);
					}
				}
			}
		}
	}
	.openedMenu .mainMenu {
		height: auto;
		max-height: 500px;
	}
}