.optionsBox {
	width: 73%;
	margin: 20px auto;
	background: #efefef;
	padding: 30px 40px;
	@include box-sizing(border-box);
	position: relative;
	table {
		width: 100%;
		td {
			height: 40px;
			vertical-align: middle;
			label {
				font: normal 12px Open Sans;
				text-transform: uppercase;
				color: #595243;
			}
		}
		td:nth-child(1) {
			@include box-sizing(border-box);
			width: 33%;
			padding: 0 15px 0 0;
			text-align: right;
		}
	}
	.tabs {
		li {
			display: inline-block;
			a {
				font: normal 12px Open Sans;
				color: #027a5e;
				text-decoration: none;
				display: block;
				border: 1px solid #129979;
				@include border-radius(3px);
				line-height: 25px;
				padding: 0 10px;
				@include transition(background 0.3s);
				&:hover,
				&.active {
					background: #129979;
					color: #fff;
				}
			}
		}
	}
	select,
	input[type="text"] {
		width: 100%;
		border: 1px solid #b4b2af;
		background: #fff;
		@include border-radius(3px);
		height: 30px;
		padding: 0 10px;
		@include box-sizing(border-box);
	}
	input[type="text"] {
		width: 80px;
	}
	&:after {
		display: block;
		content: "";
		position: absolute;
		bottom: -18px;
		left: 50%;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 18px 18px 0 18px;
		border-color: #efefef transparent transparent transparent;
	}
}
@media only screen and (max-width: 990px) {
	.optionsBox {
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.tabs li {
		margin: 3px;
	}
}