.priceTable,
.qualityLevels {
	width: 100%;
	margin: 20px auto;
	thead {
		td {
			text-align: center;
			font: 700 19px/50px Open Sans;
			color: #fff;
			background: #22b291;
			.borderedTop {
				background: #fff;
				width: 100%;
				height: 10px;
			}
			&.popular-col {
				background: #ff5d22;
				width: 24%;
				.borderedTop {
					background: #ff5d22;
					width: 100%;
					height: 10px;
				}
			}
		}
		td:nth-child(1) {
			width: 31%;
			background: #dadada;
		}
	}
	tbody {
		td {
			height: 35px;
			font: normal 14px Open Sans;
			color: #717070;
			text-align: center;
			border: 1px solid #dadada;
			@include transition(background 0.3s);
			a {
				font: normal 14px Open Sans;
				color: #717070;
				text-decoration: none;
			}
			&:hover {
				background: #d3f0e9;
				a {
					color: #000;
					font: bold 14px Open Sans;
				}
			}
			&.popular-col {
				
				
			}
		}
		tr:hover {
			.firstcol {
				color: #000;
			}
		}
	}
}
.qualityLevels {
	tbody td:nth-child(1) {
		text-align: left;
	}
}
@media only screen and (max-width: 990px) {
	.priceTable,
	.qualityLevels {
		thead td {
			line-height: 22px;
			height: 70px;
			.borderedTop {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.priceTable,
	.qualityLevels {
		thead {
			td {
				font-size: 13px;
			}
		}
	}
	.qualityLevels {
		tbody td:nth-child(1) {
			text-align: center;
		}
	}

}