.sampleBox {
	width: 710px;
	display: table;
	margin: 60px auto;
	.left {
		padding: 0 30px 20px 30px;
		@include box-sizing(border-box);
		width: 50%;
		display: table-cell;
		background: #efefef;
	}
	.right {
		padding: 0 20px;
		width: 50%;
		@include box-sizing(border-box);
		display: table-cell;
		background: #fff;
		border: 1px solid #dadada;
	}
	h3.type {
		font: bold 18px Open Sans;
		color: #363636;
	}
	.documentPic {
		vertical-align: top;
		display: table-cell;
		width: 30%;
	}
	.documentInfo {
		vertical-align: top;
		display: table-cell;
		width: 70%;
	}
	.topic {
		height: 55px;
		display: table;
		.title {
			display: table-cell;
			height: 50px;
		}
		.text {
			display: table-cell;
			padding: 0 0 0 5px;
		}
	}
	.sampleLink {
		color: #00749a;
		font: normal 13px Open Sans;
		&:hover {
			text-decoration: none;
		}
	}
	.properties {
		font: normal 13px/1.2em Open Sans;
		color: #303131;
		.row {
			display: table;
			width: 100%;
		}
		.title {
			display: table-cell;
			width: 30%;
		}
		.text {
			display: table-cell;
			width: 70%;
		}
	}
}
@media only screen and (max-width: 990px) {
	.sampleBox {
		width: auto;
		display: table;
		margin: 10px auto;
		.left,
		.right {
			width: auto;
			display: block;
		}
		.right {
			padding: 0 20px 15px 20px;
		}
	}
}