.contacts {
	display: table;
	width: 100%;
	//padding: 0 0 20px 0;
	li {
		display: table-cell;
		
		vertical-align: top;
	}
	.ringPhone {
		font: normal 20px/55px Voltaire;
		color: #444;
		width: 40%;
		.phoneIco {
			display: inline-block;
			background: url(../img/contactsIco.png) no-repeat; 
			background-position: 0 -76px; 
			width: 82px;
			height: 55px;
			vertical-align: top;
		}
	}
	.email {
		width: 33%;
		a {
			font: normal 15px/45px Voltaire;
			color: #09899c;
			text-decoration: underline;
			@include transition (color text-decoration 0.3s);
			&:hover {
				text-decoration: none;
				color: darken(#09899c,5%);
			}
		}
		.mailIco {
			display: inline-block;
			vertical-align: top;
			background: url(../img/contactsIco.png) no-repeat; 
			background-position: 0 0; 
			margin: 0 10px 0 0;
			width: 56px;
			height: 45px;
		}	
	}
	.livechat {
		width: 27%;
		.deepBtn {
			text-transform: none;
			font-size: 18px;
			margin: 0 auto;
			left: 0;
			float: right;
			display: block;
			@include box-shadow(0 3px 5px rgba(140,129,111,.46), inset 0 -2px 3px rgba(0,0,0,.08));
		}
		.liveChatIco {
			display: inline-block;
			vertical-align: top;
			background: url(../img/contactsIco.png) no-repeat; 
			background-position: 0 -50px; 
			margin: 0 15px 0 0;
			width: 27px;
			height: 21px;
			position: relative;
			top: 13px;
		}
	}
}
.contactForm {
	background: url(../img/contactFormPattern.png) repeat;
	width: 98%;
	margin: 50px auto;
	position: relative;
	@include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.75));
	@include box-sizing(border-box);
	padding: 30px 40px;
	display: table;
	.left,
	.right {
		display: table-cell;
		width: 430px;
		vertical-align: top;
	}
	label {
		display: block;
		text-transform: uppercase;
		font: normal 12px Open Sans;
		color: #595243;
		margin: 10px 0 0 0;
	}
	.customTextarea {
		height: 70px;
	}
	.deepBtn {
		left: 13%;
		text-transform: none;
		font-size: 20px;
		margin: 20px auto;
	}
	&:before {
		content: "";
		display: block;
		background: url(../img/orderSectionMobileLetterLine.png) repeat-x;
		height: 6px;
		width: 98%;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	&:after {
		content: "";
		display: block;
		background: url(../img/orderSectionMobileLetterLine.png) repeat-x;
		height: 6px;
		width: 98%;
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
}
@media only screen and (max-width: 1280px) {
	.contacts {
		.ringPhone {
			width: 28%;
		}
		.email {
			width: 27%;
		}
		.livechat {
			width: 27%;
		}
	}
}
@media only screen and (max-width: 990px) {
	.contacts {
		li {
			display: table;
			margin: 25px auto;
		}
		.ringPhone {
			width: auto;
		}
		.email {
			width: auto;
		}
		.livechat {
			width: auto;
		}
	}
	.contactForm {
		width: 80%;
		.left, .right {
			width: 310px;
			display: block;
		}
	}
}
@media only screen and (max-width: 768px) {
	.contactForm {
		padding: 30px 10px;
		.left, .right {
			width: 280px;
		}
		&:before,
		&:after {
			width: 93%;
		}
	}
	.customInput {
		width: 260px;
	}
	.customTextarea {
		width: 260px;
	}
}