$sidebarPath : '../img/sidebarIco.png';
.stickerBox {
	position: relative;
	width: 100%;
	background: url(../img/sidebarBoxPattern.png) repeat;
	&:before {
		content: "";
		display: block;
		position: absolute;
		background: url($sidebarPath) no-repeat;
		background-position: 0 -252px;
		width: 276px;
		height: 13px;
		top: -4px;
		left: -27px;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url($sidebarPath) no-repeat;
		background-position: 0 -31px;
		width: 238px;
		height: 109px;
		bottom: -7px;
		left: -6px;
		pointer-events: none;
	}
	.title {
		color: #595143;
		font-family: Open Sans, sans-serif;
		font-size: 18px;
		line-height: 2em;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;
		border-bottom: 1px dotted #c2b9a7;
		&:after,
		&:before {
			content: "";
			display: inline-block;
			background: url($sidebarPath) no-repeat;
			background-position: 0 -190px;
			width: 10px;
			height: 11px;
			margin: 0 15px;
			position: relative;
			top: -2px;
		}
	}
	.servicesMenuList {
		padding: 15px 20px;
		li {
			margin: 7px 0;
			a {
				color: #847968;
				font-family: Voltaire;
				font-size: 16px;
				text-decoration: none;
				position: relative;
				display: block;
				width: 100%;
				cursor: pointer;
				@include transition(color, text-decoration);
				&:after {
					display: inline-block;
					position: absolute;
					top: 3px;
					right: 0px;
					content: "";
					background: url($sidebarPath) no-repeat;
					background-position: 0 -206px;
					width: 7px;
					height: 10px;
				}
				&:hover {
					color: darken(#847968,10%);
					text-decoration: underline;
				}
			}
		}
	}
	&.testimonialsWrap {
		margin: 35px 0;
	}
	.testimonials {
		padding: 15px 20px 30px 20px;
		width: 100%;
		@include box-sizing(border-box);
		&:before {
			background: url($sidebarPath) no-repeat;
			background-position: 0 -221px;
			width: 32px;
			height: 26px;
			top: 15px;
			left: 10px;
		}
		&:after {
			background: url($sidebarPath) no-repeat;
			background-position: 0 0; 
			width: 32px; 
			height: 26px;
			bottom: 5px;
			right: 10px;
		}
		li {
			display: block;
			width: 100%;
			padding: 0;
		}
		h3 {
			font-size: 14px;
			color: #867e6e;
			margin: 10px 0 0 70px;
			position: relative;
			top: 15px;
		}
		.location {
			color: #9d9584;
			font-size: 8px;
			margin: 0px 0 40px 70px;
			position: relative;
			top: 15px;
		}
		blockquote {
			color: #847a69;
			font-size: 14px;
		}
		.avatar {
			width: 60px;
			height: 60px;
		}
	}

}
.sidebar {
	.tv {
		margin: 30px 0 0 0;
	}
}