@charset "utf-8";
/* CSS Document */
.vas_container #doctype {
    display: none;
}
.header_main_container{height:108px; width:100%; background:url(http://www.ninjaessays.com/res/img/newthankyou/bg_header.png) repeat-x;}
.header_info_container{width:863px; margin:0px auto; background:url(http://www.ninjaessays.com/res/img/newthankyou/girl_header.png) no-repeat top right; height:108px; position:relative;}
.logo_eot{width:240px; height:70px; padding:13px 0px 0px 5px;}
.logo_eot img {border: none;}
.live_chat_block{width:85px; height:59px; float:right;  margin:20px 155px 0px 0px;}
* html .live_chat_block { margin:20px 80px 0px 0px; }
.phone_block{width:213px; height:58px; float:right; margin:21px 12px 0px 0px;}
.top_shade{width:100%; background:url(http://www.ninjaessays.com/res/img/newthankyou/top_shade.gif) repeat-x top;}
.info_thank_block{width:863px; background:url(http://www.ninjaessays.com/res/img/newthankyou/bg_main.png) repeat-y; margin:0px auto; padding:30px 0px 120px 0px; min-height: 700px;}
.main_vas_info{width:383px; float:left; padding:0px 0px 14px 50px; background:url(http://www.ninjaessays.com/res/img/newthankyou/bottom_shadow.png) no-repeat bottom right;}
.title_vas_info{font:20px Arial, Helvetica, sans-serif; color:#1b6197; text-transform:uppercase;}
.title_vas_info span{font-weight:bold;}
.successfully_placedorder{background:url(blue_suc.png) no-repeat left top; height:30px; margin:5px 0px 15px 0px;}
.description_vas{background:#fff5dc; width:383px; position:relative; padding:10px 0px 12px 0px;}
.top_txt{font: normal 12px/18px Arial, Helvetica, sans-serif; color:#3d3d3d; padding:0px 10px;}
.title_select_extras{font: bold 13px/18px Arial, Helvetica, sans-serif; color:#3d3d3d;padding:15px 10px 2px 10px;}
.vas_information{border-bottom:1px #ffd5a5 dashed; padding:8px 0px; margin:0px 10px; position:relative;}
.vas_information.VIP_sp_vas{padding:8px 0px;  position:relative; background:#ffd5a5; border-top:1px #ffe1b4 solid; border-bottom:1px #fffefc solid; margin:0px;}
.vas_information.VIP_sp_vas .title_vas.active_title{padding: 0px 0px 0px 25px;}
.vas_information.active_descr{padding:8px 0px;  position:relative; background:#ffd5a5; border-top:1px #ffe1b4 solid; border-bottom:1px #fffefc solid; margin:0px;}
.vas_information.active_descr .title_vas.active_title{padding: 0px 0px 0px 25px;}
.vas_information.active_descr .choice_vas{margin-right:10px;}
.vas_information.VIP_sp_vas.active_descr .choice_vas{margin-right:0px;}
.spec_offer_label{width:46px; height:61px; background:url(special_.png) no-repeat; position:absolute; left: -25px; top: -10px;}
.vas_information.VIP_sp_vas .spec_offer_label{width:46px; height:61px; background:url(special_.png) no-repeat; position:absolute; top:-9px; left:-23px;}
.vas_information.active_descr .choice_vas span.summ {font: bold 13px/18px Arial, Helvetica, sans-serif; color:#dc3900!important; text-shadow:#ffedd7 1px 1px;}
.title_vas{padding:0px 0px 0px 15px; font: bold 13px/18px Arial, Helvetica, sans-serif; color:#e77803; text-shadow:#ffedd7 1px 1px; }
.title_vas.active_title{color:#dc3900; text-shadow:#ffedd7 1px 1px; }
.title_vas a{display:inline; float:left; padding:0px 5px 0px 0px;}
.title_vas a img{ padding-top:6px;}
.title_vas div{width:235px; padding-left:15px;}
.full_descr_vas{font: normal 12px/14px Arial, Helvetica, sans-serif; color:#3d3d3d; text-shadow:none;}
.title_vas div span{color:#dc3900; text-transform:uppercase;}
.choice_vas{width:95px; float:right; margin:0px;}
.vas_information.VIP_sp_vas .choice_vas{width:100px; float:right; padding-right:5px; font: bold 13px/18px Arial, Helvetica, sans-serif; color:#dc3900!important; text-shadow:#ffedd7 1px 1px;}
.vas_information.VIP_sp_vas .choice_vas span{font: bold 13px/18px Arial, Helvetica, sans-serif; color:#dc3900!important; text-shadow:#ffedd7 1px 1px;}
.timer{ padding-left:23px; font-weight:normal;}
.thank_text{font: 13px/18px Arial, Helvetica, sans-serif; color:#4d99d5; padding-left:22px; }
.choice_vas span.summ{font: bold 13px/18px Arial, Helvetica, sans-serif; color:#e77802;}
.total_info{text-align:center; font: bold 16px/18px Arial, Helvetica, sans-serif; color:#ec7a01; text-transform:uppercase; margin:8px 0px 0px 0px;}
.total_info span{ color:#de4611;}
.total_info a.add_order_bt { text-decoration: none; }
.total_info a.add_order_bt span{display:block; width:186px; padding-left:14px; height:32px; margin:4px auto 0px auto; background:url(orange_b.png) no-repeat; font: bold 16px Arial, Helvetica, sans-serif; color:#ffffff; text-align:left; text-shadow:#e78000 -1px -1px; text-transform:none; text-decoration:none; line-height:32px; }
* + html .total_info a.add_order_bt span{padding-left:0px; display:block; width:186px; margin:0px auto; background:url(orange_b.png) no-repeat; font: bold 16px Arial, Helvetica, sans-serif; color:#ffffff; text-align:left; text-shadow:#e78000 -1px -1px; text-transform:none; text-decoration:none; line-height:32px; cursor:pointer; }
.detailed_descr_vas{width:384px; float:left; margin-left:20px;}
.title_order_summary{font: 18px Arial, Helvetica, sans-serif; color:#348fd6; margin-bottom:10px; text-transform:uppercase;}
.order_details{width:361px; background:#ffffff; border-bottom:1px #e6e6e6 solid; border-top:1px #e6e6e6 solid; padding:10px 0px 10px 22px;}
.order_details p{margin:0px; padding:0px; font: bold 13px/18px Arial, Helvetica, sans-serif; color:#3b3b3b; text-transform:none;}
.list_order_info{padding:15px 0px 0px 0px; font: 13px/18px Arial, Helvetica, sans-serif; color:#3d3d3d;} 
.list_order_info ul{margin:0px; padding:0px; list-style-type:none;}
.list_order_info ul li{background:url(http://www.ninjaessays.com/res/img/newthankyou/blue_mark.png) no-repeat 0px 1px; padding:0px 0px 15px 22px;}
.list_order_info ul li a{color:#278cdc;}
a.order_details_bt, .total_info a.order_details_bt span{display:block; width:197px; padding-left:14px; height:32px; background:url(blue_but.png) no-repeat; font: bold 16px Arial, Helvetica, sans-serif; color:#ffffff!important; text-align:left; text-shadow:#16588c -1px -1px; text-transform:none; text-decoration:none; line-height:32px; }

#order_form {padding:0!important; background:none!important;}

.featured-offer-item{position: relative;}
.featured-offer-item.active{background-color:#ffe3ba;border-top:1px solid #ffd5a0;}
	.fo-header{border-top:1px dashed #ffd5a0;margin:0 15px 0 11px;padding:11px 0 11px 15px;overflow:hidden;zoom:1;}
	.featured-offer-item.active .fo-header{display:block;border-top:none;}
		.foh-head{background:url(close-bu.png) no-repeat 0 5px;padding:0 0 0 17px;cursor:pointer;color:#E77803;font-weight:bold;width:230px;float:left;text-shadow:#fff 0 1px;margin:0 !important; font: bold 13px/18px Arial,Helvetica,sans-serif;}
		.featured-offer-item.active .foh-head{background:url(open-bul.png) no-repeat 0 5px;color:#dc3900;}
		.foh-price{float:right;width:80px;}
            .foh-price span{color:#f45f0b;font-weight:bold}
			.foh-price label{color:#E77802;font-weight:bold;background:url(unchecke.png) no-repeat 0 0;padding:0 0 0 23px;font: bold 13px/18px Arial,Helvetica,sans-serif;}
			.foh-price label.checkinp{background:url(http://www.ninjaessays.com/res/img/newthankyou/checked-cb.png) no-repeat 0 0;}
			.featured-offer-item.active .foh-price label{color:#dc3900;}
			.foh-price input{position:absolute;left:-10000px;}
			.ucheckbox-text{color:#4D99D5;display:none; margin:0px; font: 13px/18px Arial,Helvetica,sans-serif; padding-left: 20px;}
            .featured-offer-item.active .foh-price.checked .ucheckbox-text{display:block;}
	.foi-text{width:230px;display:none;overflow:hidden;zoom:1;padding:8px 0 0 17px; font: 12px/14px Arial,Helvetica,sans-serif;}
	.featured-offer-item.active .foi-text{display:block;}
    
    #timer {color: #DC3900 !important; float: right; font: bold 13px/18px Arial,Helvetica,sans-serif; padding-right: 5px; text-shadow: 1px 1px #FFEDD7; font-weight: normal;}
.attach_files{ display:inline-block; font-size:14px; line-height:16px; color:#2375b5; padding:16px 37px 0px 0px; background:url(attach_f.png) no-repeat top right; margin-top:15px; }
.attach_files:hover, .attach_files:active { color:#df5100; background-position:bottom right;}
.attach_files:focus{ outline:none;}