.customTextarea {
	border: 1px solid #c7c1af;
	@include border-radius(5px);
	padding: 10px;
	width: 280px;
	height: 60px;
	font: 600 13px Open Sans;
	color: #000000;
	resize: none;
	@include transition(box-shadow 0.3s);
	&::-webkit-scrollbar {
  		width: 8px;
		background-color: rgba(0,0,0,0);
  		-webkit-border-radius: 100px;
	}
	&::-webkit-scrollbar:hover {
  		background-color: rgba(0, 0, 0, 0.09);
	}
	&::-webkit-scrollbar-thumb:vertical {
  		background: rgba(0,0,0,0.5);
  		-webkit-border-radius: 100px;
	}
	&::-webkit-scrollbar-thumb:vertical:active {
  		background: rgba(0,0,0,0.61);
  		-webkit-border-radius: 100px;
	}
	&:focus {
		border-color: #50ddbb;
		outline: 0;
		@include box-shadow (inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(34,175,141,0.6));
	}
}
.customInput {
	border: 1px solid #c7c1af;
	@include border-radius(5px);
	padding: 0 10px;
	width: 280px;
	height: 30px;
	font: 600 13px Open Sans;
	color: #000000;
	@include transition(box-shadow 0.3s);
	&:focus {
		border-color: #50ddbb;
		outline: 0;
		@include box-shadow (inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(34,175,141,0.6));
	}
}