.mobileMenuPanel {
	width: 100%;
	height: 45px;
	background: #222;
	.menuBtn {
		display: block;
		background: url(../img/mobilePanelIco.png) no-repeat;
		background-position: 0 -15px; 
		width: 23px; 
		height: 19px;
		float: left;
		position: relative;
		left: 15px;
		top: 13px;
		opacity: 0.5;
		&:hover {
			opacity: 0.8;
		}
	}
	.optionsBtn {
		display: block;
		background: url(../img/mobilePanelIco.png) no-repeat;
		background-position: 0 -39px; 
		width: 23px; 
		height: 23px;
		float: right;
		position: relative;
		top: 10px;
		right: 15px;
		opacity: 0.5;
		&:hover {
			opacity: 0.8;
		}
	}
	.openedMenu & {
		.menuBtn {
			opacity: 1;
		}
	}
	.openedOpt & {
		.optionsBtn {
			opacity: 1;
		}
	}
}
@media only screen and (min-width: 768px) {
	.mobileMenuPanel {
		display: none;
	}
}