.testimonials {
	display: table;
	position: relative;
	padding: 0 0 50px 0;
	li {
		display: table-cell;
		width: 33%;
		vertical-align: top;
		padding: 0 35px 0 0;
		&:last-child {
			padding: 0;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url(../img/quotesIco.png) no-repeat;
		background-position: 0 0; 
		width: 52px; 
		height: 44px;
		bottom: 30px;
		right: -25px;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		background: url(../img/quotesIco.png) no-repeat;
		background-position: 0 -49px; 
		width: 53px; 
		height: 44px;
		top: -10px;
		left: -30px;
	}
	h3 {
		color: #424242;
		font: 800 16px Open Sans;
		margin: 10px 0 0 90px;
		text-transform: uppercase;
		padding: 0;
	}
	.location {
		display: block;
		font: bold 10px Open Sans;
		text-transform: uppercase;
		color: #909090;
		margin: 0 0 40px 90px;
	}
	blockquote {
		font: italic 14px Times New Roman;
		color: #5f5f5f;
		&:before {
			content: "\2014";
			display: inline-block;
			margin: 0 5px 0 0;

		}
	}
}

.avatar {
	width: 72px;
	height: 72px;
	@include border-radius(50%);
	border: 3px solid #fff;
	float: left;
	overflow: hidden;
	z-index: 9;
	@include box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.25));
}
@media only screen and (min-width: 319px) and (max-width: 767px) {
	.testimonials {
		li {
			display: block;
			width: 100%;
			margin: 0 0 20px 0;
			padding: 0;
		}
	}
}
@media only screen and (min-width: 1280px) {
	.testimonials {
		li {
			padding: 0 48px 0 0;
		}
		blockquote {
			font-size: 17px;
		}
	}
}