// open sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
// Voltaire
@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(http://themes.googleusercontent.com/static/fonts/voltaire/v4/ag0Q3_6hjQFerbCN2Eewq_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
// Marcellus
@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/marcellussc/v2/_jugwxhkkynrvsfrxVx8gXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

h1,h2,h3,h4,h5,h6,p,a,span,div {
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 12px;
  font-family: Open Sans;
  font-weight: normal;
  color: #000;
}
h1 {
  font-size: 2.5em;
  padding: 0.7em 0;
  font-weight: bold;
}
h2 {
  font-size: 2em;
  padding: 0.5em 0;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  padding: 0.4em 0;
  font-weight: bold;
}
h4 {
  font-size: 1.2em;
  padding: 0.3em 0;
  font-weight: bold;
}
h5 {
  font-size: 0.9em;
  padding: 0.2em 0;
  font-weight: bold;
}
h6 {
  font-size: 0.7em;
  padding: 0.2em 0;
  font-weight: bold;
}
p {
  font: normal 12px Open Sans;
  color: #333;
  text-align: left;
}