@charset "utf-8";

/*  Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{ font: normal 13px/1.5em arial, sans-serif; line-height:1 }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* Reset form elements */
	
input, select, textarea {margin:0; padding:0; outline:none; font-family:inherit;
 -moz-box-sizing:border-box; /* Firefox */
 -webkit-box-sizing:border-box; /* Safari */
 box-sizing:border-box;}

/* Common */

html, body {height: 100%; font: normal 13px 'Open Sans', sans-serif; color:#404040;}
#container {min-height: 100%; position: relative; background:#f8f6f6;}
.baseWidthCenter {width: 980px; margin: 0 auto;}
h1, h2, h3, h4, h5, h6, .title {font-family: 'Roboto', sans-serif; font-weight:bold; color:#363636;}
h1{ font-size:30px; margin:20px 0px 15px 0px;}
h2{ font-size:24px; margin:15px 0px;}
h3, h4{ font-size:18px;}
.title{font-size:18px; text-align:center; margin:15px 0px;}
.iconPen{ padding: 0px 0px 3px 32px; background:url(spriteIc.png) no-repeat 0px -178px;}
.iconPen + *{ padding-left:35px;}
a{ color:#e6623d;}
a:hover{ text-decoration:none;}
.blueLink{ color:#29abe1; text-decoration:none;}
.blueLink:hover{ text-decoration:underline;}
p{ margin:0px 0px 15px 0px;}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}

/* Header */

.header {width: 100%;}
.topLine{ background:#313d4c;}
.phoneAndLc{ float:right; margin:18px 0px;}
* + html .phoneAndLc{ float:none;}
.lc{ display:block; height:32px; padding:0px 10px 0px 35px; background:url(spriteIc.png) no-repeat 5px -26px #3e4b5b; color:#ffffff; font: bold 14px/32px 'Roboto', sans-serif; text-decoration:none; border-width:1px; border-style:solid; border-color:#606c7b #4a5666 #3e4b5b #4a5666; margin:0px 0px 0px 30px; float:right; }
.lc:hover, .lc:active{ background-color:#232d39; border-color:#5a6473 #35404c #232d39 #35404c;}
.phone{padding-top:10px;float:right;}
.logo{ display:block; width:496px; height:100px; margin:0px 0px -32px -115px;}
.customerInfo{ background:#273039; min-height:30px; border-bottom:1px #313d4c solid;}
.userInfo{ float:right; padding:5px 0px 5px 30px; background:url(spriteIc.png) no-repeat 0px -56px; color:#6c7786; font-size:14px;}
.userInfo a{ color:#ffffff; font-weight:500; text-decoration:none;}
.navigation{ position:relative; height:52px; width:100%; text-align:center;
background: #ffd613; /* Old browsers */
background: -moz-linear-gradient(top, #ffd613 0%, #ffd613 2%, #ffc10d 2%, #ff9e03 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd613), color-stop(2%,#ffd613), color-stop(2%,#ffc10d), color-stop(100%,#ff9e03)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffd613 0%,#ffd613 2%,#ffc10d 2%,#ff9e03 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffd613 0%,#ffd613 2%,#ffc10d 2%,#ff9e03 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffd613 0%,#ffd613 2%,#ffc10d 2%,#ff9e03 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffd613 0%,#ffd613 2%,#ffc10d 2%,#ff9e03 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd613', endColorstr='#ff9e03',GradientType=0 ); /* IE6-9 */
}
nav{position:relative; display:table;}
nav ul{display:table-row; width:980px;}
* + html nav, * + html nav ul{ display:block;}
nav ul li{ display:table-cell; vertical-align:middle; border-right:1px #e59506 solid;}
* + html nav ul li{display:block; float:left;}
nav ul li:first-child{border-left:1px #e59506 solid;}
nav ul li a{ display:block; height:52px; text-align:center; font:bold 14px/52px 'Roboto', sans-serif; text-decoration:none; color:#9c5801; text-shadow:#f8d37e 0px 1px;}
* + html nav ul li a{ padding:0px 28px;}
nav ul li a:hover, nav ul li a.active{
background: #e19706; /* Old browsers */
background: -moz-linear-gradient(top, #e19706 0%, #ffab07 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e19706), color-stop(100%,#ffab07)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e19706 0%,#ffab07 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e19706 0%,#ffab07 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e19706 0%,#ffab07 100%); /* IE10+ */
background: linear-gradient(to bottom, #e19706 0%,#ffab07 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e19706', endColorstr='#ffab07',GradientType=0 ); /* IE6-9 */	
}
nav ul li a.orderItem{ color:#ffffff; text-shadow:none;
background: #1ea1e7; /* Old browsers */
background: -moz-linear-gradient(top, #1ea1e7 0%, #1ea1e7 2%, #30b0f5 2%, #62c0f2 2%, #62c0f2 4%, #62c0f2 4%, #30b0f5 4%, #0284c8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ea1e7), color-stop(2%,#1ea1e7), color-stop(2%,#30b0f5), color-stop(2%,#62c0f2), color-stop(4%,#62c0f2), color-stop(4%,#62c0f2), color-stop(4%,#30b0f5), color-stop(100%,#0284c8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1ea1e7 0%,#1ea1e7 2%,#30b0f5 2%,#62c0f2 2%,#62c0f2 4%,#62c0f2 4%,#30b0f5 4%,#0284c8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1ea1e7 0%,#1ea1e7 2%,#30b0f5 2%,#62c0f2 2%,#62c0f2 4%,#62c0f2 4%,#30b0f5 4%,#0284c8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1ea1e7 0%,#1ea1e7 2%,#30b0f5 2%,#62c0f2 2%,#62c0f2 4%,#62c0f2 4%,#30b0f5 4%,#0284c8 100%); /* IE10+ */
background: linear-gradient(to bottom, #1ea1e7 0%,#1ea1e7 2%,#30b0f5 2%,#62c0f2 2%,#62c0f2 4%,#62c0f2 4%,#30b0f5 4%,#0284c8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ea1e7', endColorstr='#0284c8',GradientType=0 ); /* IE6-9 */
 }
nav ul li a.orderItem:hover, nav ul li a.orderItem.active{
background: #0284c8; /* Old browsers */
background: -moz-linear-gradient(top, #0284c8 0%, #30b0f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0284c8), color-stop(100%,#30b0f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0284c8 0%,#30b0f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0284c8 0%,#30b0f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0284c8 0%,#30b0f5 100%); /* IE10+ */
background: linear-gradient(to bottom, #0284c8 0%,#30b0f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0284c8', endColorstr='#30b0f5',GradientType=0 ); /* IE6-9 */
}
.bottomHeadLine{ background:url(underHea.jpg) no-repeat bottom center #5e7ea0;}
.leftPart{ float:left; width:430px;}
.rightPart{ float:right; width:550px;}
.whiteTitle{font:bold 36px 'Roboto', sans-serif; color:#ffffff; text-shadow:#0f1d2f 2px 2px 0px; margin:40px 0px 0px 0px;}
.yellowBul{ list-style-type:none; margin:15px 0px 20px 0px;}
header .yellowBul{ margin-top:5px;}
.yellowBul li{ padding:3px 0px 0px 20px; background:url(spriteIc.png) no-repeat 0px -85px;}
.bottomHeadLine .yellowBul li{ color:#fefefe; font-style:italic; float:left; width:180px;}
.bottomHeadLine .rightPart{ height:223px; width:320px; padding:12px 0px 0px 310px; margin:-12px 0px 0px -80px; background:url(ninjaHea.png) no-repeat; position:relative; z-index:10;}
.firstOrder{ padding:50px 0px 0px 0px;}
.blueTitle{font:bold 30px 'Roboto', sans-serif; color:#45bdff; text-shadow:#0f1d2f 2px 2px 0px;}
.whiteFont15{ font-size:15px; color:#ffffff;}
header .blueButton.centralButton{ font-size:24px; height:55px; line-height:55px; margin-top:15px; width:200px; border-bottom-color:#1e252f;}
/* benefits */
.benefits{ background:url(waveLine.gif) repeat-x left bottom #4c647e; padding:0px 0px 20px 0px;}
.headBenefits{ background:#313d4c; padding:10px 0px;}
.yellowTitle{ font:18px 'Roboto', sans-serif; color:#ffc61b;}
.headBenefits .yellowTitle{ float:left; width:25%; line-height:40px;}
.yellowIco{ float:left; display:block; width:41px; height:37px; margin-right:10px; background:url(spriteIc.png) no-repeat 0px -286px;}
.yellowIco.secondIco{ background-position:0px -331px;}
.yellowIco.thirdico{background-position:0px -377px;}
.yellowIco.fourthIco{background-position:0px -421px;}
.contentBenefits{ border-top:2px #556e89 solid; padding-top:10px;}
.textBenefits{ border-left:1px #6a7e94 solid; padding:0px 10px; color:#ffffff; font-size:12px; width:220px; float:left;}
.textBenefits:first-child{border-left:0px;}

/* Content */

.paddingForFooter {padding-bottom: 324px;}
.leftColumn{ float:left; width:710px; padding:0px 15px;}
aside{ float:right; width:220px; padding:20px 10px 0px 10px;}
.steps{ margin:20px 0px;}
.steps > div{ float:left; width:205px; height:60px; padding:0px 0px 0px 40px; background:url(spriteIc.png) no-repeat 0px -113px;}
.steps > div:first-child{ padding:0px; background:none;}
.steps div img{ float:left; margin:14px 10px 0px 0px;}
.stepTitle{font:bold 18px 'Roboto', sans-serif;  margin:10px 0px 0px 0px;}
.twoColumns{ margin:15px 0px;}
.twoColLeft, .twoColRight{ width:350px; float:left; }
.twoColLeft{ margin-right:10px;}
.smallCol{ width:330px; float:left; padding:25px 0px 10px 0px;}
.twoColLeft .smallCol{ margin:0px 35px 0px 0px;}
.yellowGrid{ background:url(http://www.ninjaessays.com/images/yellowGridBg.jpg) repeat #ffb90b; padding:25px 15px 10px 20px;}
.smallCol.yellowGrid{ width:295px;}
.alignRight{ text-align:right;}
.blackBold{ font-weight:bold; color:#363636;}
.whiteBlock{ background:#ffffff; border:1px #e9e8e8 solid; margin:30px 0px;}
.yellowTopLine{ position:relative; height:10px; border-style:solid; border-width:1px; border-color:#fed007 #f4ae0d #ee9a10 #f4ae0d;
background: #fff8ca; /* Old browsers */
background: -moz-linear-gradient(top, #fff8ca 0%, #fff8ca 2%, #ffdc16 2%, #ffbd05 98%, #ffc93b 98%, #ffc93b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8ca), color-stop(2%,#fff8ca), color-stop(2%,#ffdc16), color-stop(98%,#ffbd05), color-stop(98%,#ffc93b), color-stop(100%,#ffc93b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fff8ca 0%,#fff8ca 2%,#ffdc16 2%,#ffbd05 98%,#ffc93b 98%,#ffc93b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fff8ca 0%,#fff8ca 2%,#ffdc16 2%,#ffbd05 98%,#ffc93b 98%,#ffc93b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fff8ca 0%,#fff8ca 2%,#ffdc16 2%,#ffbd05 98%,#ffc93b 98%,#ffc93b 100%); /* IE10+ */
background: linear-gradient(to bottom, #fff8ca 0%,#fff8ca 2%,#ffdc16 2%,#ffbd05 98%,#ffc93b 98%,#ffc93b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8ca', endColorstr='#ffc93b',GradientType=0 ); /* IE6-9 */
margin:-1px -1px 0px -1px;
}
.testimonials{ padding:30px;}
.testimonials p{ margin-left:105px; font-size:18px; color:#999999;}
.avatar{ float:left; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;; border:6px #fafafa solid; box-shadow: 0 0 0px 1px #D2CFCC; -moz-box-shadow: 0 0 0px 1px #D2CFCC; -webkit-box-shadow: 0 0 0px 1px #D2CFCC; margin:0px 20px 0px 0px;}
.whiteBlock.smallWhiteComment{ width:255px; border-left:0px; position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.whiteBlock.smallWhiteComment:before{ content:""; display:block; width:24px; height:89px; background:url(http://www.ninjaessays.com/images/commentLeftPart.png) no-repeat; position:absolute; top:-1px; left:-22px; opacity: 0.5; filter: alpha(opacity=50);}
.commentWrap .whiteBlock.smallWhiteComment{ float:left; margin:0px 0px 0px 5px;}
.commentWrap .avatar{ margin:0px;}
.whiteBlock.smallWhiteComment .yellowTopLine{ height:3px; border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px;}
.authorTestim{ font-size:14px; color:#333333; margin:5px 0px 0px 0px;}
.grayFont12{ font-size:12px; color:#999999;}
.whiteBlock.smallWhiteComment .authorTestim{padding:0px 15px;}
.whiteBlock.smallWhiteComment .grayFont12{ padding:0px 10px 0px 15px; margin:0px 0px 9px 0px;}
.blackArrList{ list-style-type:none; margin:10px 0px; padding:0px;}
.blackArrList li{ padding:3px 5px 3px 40px; background:url(spriteIc.png) no-repeat 20px -210px; color:#666666;}
.blackArrList li a{color:#666666; text-decoration:none;}
.blackArrList li:hover{ background:url(spriteIc.png) no-repeat 20px -234px #ffba0f; color:#fffefe;}
.blackArrList li:hover a{color:#fffefe;}

/* buttons */
.blueButton{ display:inline-block; text-align:center; height:48px; padding:0px 40px; color:#ffffff; text-decoration:none; font:bold 20px/48px 'Roboto', sans-serif; text-shadow:#002e69 1px 1px;
border:1px #1ea1e7 solid; border-bottom:2px #004f8e solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
background: #62c0f2; /* Old browsers */
background: -moz-linear-gradient(top, #62c0f2 0%, #62c0f2 2%, #30b0f5 2%, #0384c8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62c0f2), color-stop(2%,#62c0f2), color-stop(2%,#30b0f5), color-stop(100%,#0384c8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #62c0f2 0%,#62c0f2 2%,#30b0f5 2%,#0384c8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #62c0f2 0%,#62c0f2 2%,#30b0f5 2%,#0384c8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #62c0f2 0%,#62c0f2 2%,#30b0f5 2%,#0384c8 100%); /* IE10+ */
background: linear-gradient(to bottom, #62c0f2 0%,#62c0f2 2%,#30b0f5 2%,#0384c8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62c0f2', endColorstr='#0384c8',GradientType=0 ); /* IE6-9 */
cursor:pointer;
 }
.blueButton:hover, .blueButton:active{
border-color:#1ea1e7 #017ec0 #017ec0 #017ec0;
background: #0384c8; /* Old browsers */
background: -moz-linear-gradient(top, #0384c8 0%, #2dabee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0384c8), color-stop(100%,#2dabee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0384c8 0%,#2dabee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0384c8 0%,#2dabee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0384c8 0%,#2dabee 100%); /* IE10+ */
background: linear-gradient(to bottom, #0384c8 0%,#2dabee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0384c8', endColorstr='#2dabee',GradientType=0 ); /* IE6-9 */	
}
.orangeButton{display:inline-block; text-align:center; height:48px; padding:0px 40px; color:#9c5801; text-shadow:#ffcd64 0px 1px; text-decoration:none; font:bold 20px/48px 'Roboto', sans-serif; border:1px #ffb63b solid; border-bottom:2px #9c4e00 solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
background: #ffc10d; /* Old browsers */
background: -moz-linear-gradient(top, #ffc10d 0%, #ff9e03 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc10d), color-stop(100%,#ff9e03)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffc10d 0%,#ff9e03 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffc10d 0%,#ff9e03 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffc10d 0%,#ff9e03 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffc10d 0%,#ff9e03 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc10d', endColorstr='#ff9e03',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.orangeButton:hover, .orangeButton:active{
border-color:#ffb63b #ffb63b #e98725 #ffb63b;
background: #ff9f03; /* Old browsers */
background: -moz-linear-gradient(top, #ff9f03 0%, #ffc20d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9f03), color-stop(100%,#ffc20d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff9f03 0%,#ffc20d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff9f03 0%,#ffc20d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff9f03 0%,#ffc20d 100%); /* IE10+ */
background: linear-gradient(to bottom, #ff9f03 0%,#ffc20d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9f03', endColorstr='#ffc20d',GradientType=0 ); /* IE6-9 */
}
.twoBtWrap{ margin:40px 0px; text-align:center;}
.twoBtWrap a{ margin:0px 5px;}

/* login form */
.loginForm{ padding-bottom:20px; border-bottom:1px #e4e1e1 solid;}
.loginForm input{ font-size:11px; height:25px; border:1px #ededed solid; border-top-width:2px; margin-bottom:15px; padding:0px 8px; width:204px;}
.forgotPass{ font-size:10px; color:#000009; margin-bottom:15px;}
.forgotPass a{ text-decoration:none;}
.darkOrangeBt, .loginForm .darkOrangeBt{ display:inline-block; text-align:center; width:auto; height:42px; padding:0px 40px; text-decoration:none; font:bold 18px/42px 'Roboto', sans-serif; color:#ffffff;  border:1px #d25708 solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
background: #fb8940; /* Old browsers */
background: -moz-linear-gradient(top, #fb8940 0%, #fb8940 2%, #f96200 2%, #c6540a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb8940), color-stop(2%,#fb8940), color-stop(2%,#f96200), color-stop(100%,#c6540a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb8940 0%,#fb8940 2%,#f96200 2%,#c6540a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb8940 0%,#fb8940 2%,#f96200 2%,#c6540a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb8940 0%,#fb8940 2%,#f96200 2%,#c6540a 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb8940 0%,#fb8940 2%,#f96200 2%,#c6540a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8940', endColorstr='#c6540a',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.darkOrangeBt:hover, .loginForm .darkOrangeBt:hover, .darkOrangeBt:active, .loginForm .darkOrangeBt:active{
background: #fb8940; /* Old browsers */
background: -moz-linear-gradient(top, #fb8940 0%, #fb8940 2%, #c6540a 2%, #f96200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb8940), color-stop(2%,#fb8940), color-stop(2%,#c6540a), color-stop(100%,#f96200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb8940 0%,#fb8940 2%,#c6540a 2%,#f96200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb8940 0%,#fb8940 2%,#c6540a 2%,#f96200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb8940 0%,#fb8940 2%,#c6540a 2%,#f96200 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb8940 0%,#fb8940 2%,#c6540a 2%,#f96200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb8940', endColorstr='#f96200',GradientType=0 ); /* IE6-9 */	
}
.centralButton{display:block; margin:30px auto; width:180px; padding:0px;}
.loginForm .darkOrangeBt.centralButton{ display:block; margin:0px auto; padding:0px 40px;}
.whyChooseUs{ border-top:1px #e4e1e1 solid; border-bottom:1px #e4e1e1 solid; margin:20px 0px;}
.clTestimonInf{ font-size:11px; color:#747474; margin:20px 0px;}
.title + .clTestimonInf{ margin-bottom:40px;}
.clTestimonInf .avatar{ border-width:4px; margin-right:10px;}
.authorInfo{ margin-bottom:10px; color:#363636;}
.clientName{ font-size:14px; font-weight:bold; margin-top:8px;}
.clientPosition{ font-size:12px;}
.samplePage{ margin:20px 0px 40px 0px;}
.samplePage .twoColLeft{ background:#e8eaed; margin-right:0px; padding:0px 0px 0px 30px; width:325px; color:#404040;}
.samplePage .twoColRight{ background:#ffffff; padding:0px 0px 13px 30px; width:325px; color:#303131;}
.samplePage .title{ text-align:left; margin:7px 0px;}
.sampleInfo{ float:right; padding-right:60px; width:170px;}
.sampleInfo span{ float:left; padding:0px 5px 17px 0px;}
.sampleInfo a{ display:block; margin:30px 0px 20px 0px; color:#27a8ed;}
.sampleImg{ float:left;}
.sampleInfo table{ border-collapse:collapse;}

/* services */

.services{ margin:10px 0px 20px 0px;}
.orangeBgTitle{ background:#ffc31f; text-align:center; color:#1d1d1d; font:18px 'Roboto', sans-serif; padding:5px 0px; }
.listLink{ list-style-type:none; margin:10px 10px 0px 10px;}
.listLink li{ height:26px;}
.listLink li a{ padding:0px 0px 0px 30px; display:block; height:26px; line-height:26px; text-decoration:none; color:#191919;
 background:url(XJTwAaNK.png) no-repeat 10px 7px;}
.listLink li a:hover{ font-weight:bold; color:#eb6814; background-position:10px -18px; background-color:#ffffff;}

.customSel{float:left;position:relative;margin:0 15px 0 0;}
.customSel select::-ms-expand { display: none;}
.floatWrPrice { display: table; width: 100%; }
.pagenum-wrap{float:right;width:194px;text-align:center; line-height:24px; }
    .pagenum-wrap span{ color: #717070; }
    .pagenum-wrap input{position:relative; height:22px;width:40px;margin:0 3px;text-align:center;line-height:22px; }


/* Prices
************************************************/
.leveltable-wrap1 { padding: 0; position:relative; margin: 26px 0 30px 0; }
    .leveltable-wrap1 .borderedTop,
    .leveltable-wrap1 .borderedBot {
        width: 171px;
        height: 10px;
        position: absolute;
        z-index: 11;
        left: 382px;
    }
    .leveltable-wrap1 .borderedTop {
        top: -9px;
        background: #313d4c;
    }
    .leveltable-wrap1 .borderedBot {
        bottom: -9px;
        background: #ffffff;
		box-shadow: 0px 3px 3px #bebcbc;
		-moz-box-shadow: 0px 3px 3px #bebcbc;
		-webkit-box-shadow: 0px 3px 3px #bebcbc;
    }
          


.level-writer-table{width:100%; border: 1px solid #e5e5e5; }
    .level-writer-table td{ padding:10px; text-align:center;width:140px; vertical-align: middle;}
    .level-writer-table tbody tr td.firstcol{color:#ffffff; text-transform:uppercase;}
    .level-writer-table .second-row td{ 
        border-bottom: 1px solid #ececec;
        background: #f9f9f9;
        color: #202020;
    }
        .level-writer-table .second-row td:first-child {
            border-top: 1px solid #14598b;
            border-bottom: 1px solid #14598b;
            background: #f9b224;
        }
		.level-writer-table .second-row td.popular-col,
		.level-writer-table tr.lastcol td.popular-col{ border-left:1px #cccbcb solid; border-right:1px #dcdada solid;}
    .level-writer-table thead td{color:#313d4c;font-size:12px;border-top:0; background: #f9b224;}
    .level-writer-table thead td.firstcol{font-size:16px; width:240px;}
    .level-writer-table thead td .pwt-head{font:bold 19px 'Roboto', sans-serif; color:#ffffff;}
	.level-writer-table thead td.popular-col .pwt-head{ color:#ffffff;}
    .level-writer-table thead td span{display:block; padding:5px 0px 0px 0px;}
	.level-writer-table thead td.popular-col span{ color:#ffffff;}
    .level-writer-table thead td.popular-col{width:164px; background:#313d4c; }
    .level-writer-table tr.lastcol td{ text-align:left; padding-left:15px; padding-right:5px; color: #7e7c7c; font-size:12px;}
	.level-writer-table tr.lastcol td + td{ background:#ffffff;}
    .level-writer-table tr.lastcol td.firstcol{ text-align:center;}
    .level-writer-table tr.lastcol td.popular-col{padding-left:20px; padding-right:0px; }
    .level-writer-table td:first-child { background: #313d4c;  color: #fff; }
    .level-writer-table td.premium {
        color: #062f50;
    }
	
	/* custom select */
	
	.customSel {
		width: 226px;
		overflow: hidden;
		*border: none;
		position: relative;
	}
		.customSel select {
			width:115%; 
			height: 30px;
			padding-left: 8px;
			padding-top:2px;
			background-color:transparent; background-image:none;
			-webkit-appearance: none; border:none; box-shadow:none;
			cursor: pointer;
			-moz-appearance: none;/* ESSAYS-19554 */
			text-indent: 0.01px;
    		text-overflow: '';
			padding-right: 60px;
		}
		.customSel,
		.customSel select {
			background:url(http://www.ninjaessays.com/images/selectArr.gif) #fff 197px no-repeat;
			-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
			-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
			box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
			font-size:16px;
			color: #484949;
		}
	/* edge glow effect */
		.customSel:after {
			content: "";
			display: inline-block;
			position: absolute;
			width: 20px;
			height: 28px;
			top: 1px;
			right: 29px;
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
		}
	
/*PRICE TABLE START*/
.darktable-wrap1{padding:8px 0;position:relative;margin:0 0 20px 0;margin: 20px 0 0;}
    
    .blue-pop-top, .blue-pop-bot{position:absolute;background-image:url(http://www.ninjaessays.com/images/blue-table-colselect.png); width:175px; height:8px; background-repeat:no-repeat; left:381px;}
        .blue-pop-top{top:0;background-position:0 0;}
        .blue-pop-bot{bottom:0;background-position:0 100%;}
    

    .darktable-wrap2 { position:relative; margin-top: 30px; }
        .darktable-wrap2 .borderedTop,
        .darktable-wrap2 .borderedBot {
        width: 100%;
        height: 10px;
        position: relative;
      
    }
    .darktable-wrap2 .borderedTop {
        top: -12px;
        background: #313d4c;
    }
    .darktable-wrap2 .borderedBot {
        bottom: -9px;
        background: #ffffff;
		box-shadow: 0px 3px 3px #bebcbc;
		-moz-box-shadow: 0px 3px 3px #bebcbc;
		-webkit-box-shadow: 0px 3px 3px #bebcbc;
    }
        
    
            
.dark-writer-table{width:100%;}
    .dark-writer-table td{ border-bottom: 1px solid #e9e8e8; background:#ffffff; padding:0; text-align:center;width:120px; height:38px; vertical-align: middle;}
        .dark-writer-table tr.even td{ background-color:#f8f6f6;}
        .dark-writer-table td a{display:block;height:30px; line-height:30px;text-decoration:none;color:#e86742; font-size:12px; width:153px; margin:0px auto;}
        span.price_without_promo{color:#717070; font-size:11px; text-decoration:line-through; margin-right:7px;}
    .dark-writer-table tbody tr {height: 32px;}
        .dark-writer-table tbody tr td.firstcol{ background:#313d4c; border-bottom: 1px solid #313d4c; border-right: 1px solid #313d4c; width:229px; color:#ffffff;}
        .dark-writer-table tbody tr td:last-child{border-right:1px solid #e5e5e5;}
        .dark-writer-table thead td{color:#ffffff;font-size:11px;border-top:0; border-bottom:0;height:40px; background: #53b1d4; text-align:center;}
		.dark-writer-table thead td.popular-col{ background:#313d4c; color:#ffffff;  padding-bottom: 10px;}
    .dark-writer-table thead td.firstcol{ font-size:14px;color:#ffffff;font-weight:bold;}
        .dark-writer-table thead td.firstcol span{font-size:18px;}
    .dark-writer-table thead td .pwt-head{font:bold 19px 'Roboto', sans-serif;}
    * + html .dark-writer-table tthead tr td.popular-col{ }

    .dark-writer-table tbody tr:last-child td.popular-col{ }
     .dark-writer-table tbody tr td.popular-col{ width:161px; background:#ffffff; border-bottom:0px; border-left:1px #dddbdb solid; border-right:1px #dddbdb solid; }
    .dark-writer-table tr.lastcol td{border-bottom:0 !important;}
    .dark-writer-table tbody tr:hover td:first-child{ background: #53b1d4; color:#002b48; border-right: 1px #53b1d4 solid;}
    .dark-writer-table tbody tr td:hover{background:#53b1d4;}
        .dark-writer-table tbody tr td:hover a, .dark-writer-table tbody tr td:hover a span.price_without_promo{color:#002b48;}
        .filter_inp{ height:28px!important; background:#fff; -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);	box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); border:0px; font-size:16px; color:#464746;}



.discount_new_customer{position:absolute;top: 0;left:0;font-size:12px;}
    .discount_new_customer input{border:none;}
    .discount_new_customer label{ cursor: pointer; color: #717070; }

.curr_container{position:absolute;top: 0;right:0;}
    .curr_container ul{ overflow:hidden; margin:0; list-style: none; height:20px;}
        .curr_container ul li{float:right;background:none;margin:0 0 0 10px;padding:0;}
            .curr_container ul li a{font-size:13px;text-decoration:none; color:#717070; border-bottom:2px dotted #63c0e7;}
            .curr_container ul li a:hover{border-bottom:none;}
            .curr_container ul li a.active{color:#29abe1; border-bottom:0;}

.specoff-wrap{position:relative;margin: 24px 0 40px 0;}
    .specoff-table{ width:100%;border:1px solid #e5e5e5; }
        .specoff-table td{font-size:12px; vertical-align: middle;}
        
        .specoff-table thead td{ font-size:18px; color:#fff;font-weight: bold; text-align:center; background:#f9b224;border-left:1px solid #313d4c;width:350px;}
        .specoff-table thead td:first-child{ border-left: none; border-right:1px solid #f9b224;height:50px;}
        
        .specoff-table tbody td{height:40px;text-align:right;}
        .specoff-table tbody td:first-child{ text-align:left; color: #363636; }
        .specoff-table tbody tr.odd-socell td{background:#fff;}
        .specoff-table tbody tr.even td{ background: #f8f6f6;}
        
    .specoff-table table{width:100%;border-right:1px solid #c6cdd1;}
        .specoff-table table td {padding:0 20px; }
        .specoff-table table td.discounts {padding: 0; }
        .specoff-table table tfoot td{ background: #f9b224; color: #fff; font-size:19px; font-weight:bold; height:40px;}
        .specoff-table table tfoot td:first-child { color: #fff; }
        
.discount_label tr:first-child td{ height:200px;}
.discount_label tr:first-child + tr td{ border:1px #e5e5e5 solid; text-align:center; background:#ffffff;}
.discount_label a{ font-size:14px;} 
.pagebonus-wrap{overflow:hidden;margin:0 auto;padding:15px 0 0 0;width: 270px; text-align:center;}
    .specoff-table table b{text-transform:uppercase;}
    .pagebonus-item { float:left;width: 78px; margin: 0 0 5px; line-height:14px; color: #363636; font-size:14px;}
    .pagebonus-item + .pagebonus-item {
        margin-left: 15px;
    }
        .pagebonus-item b {display:block;}
        .pagebonus-item img {
            margin-bottom: 10px;
        }

/* footer */

footer{ background:#28313a; padding-top:45px; color:#6c7786; font-size:12px;width: 100%; position: absolute; bottom: 0; left: 0;}
.mainFooWrap{ background:#313d4c; height:249px;}
.leftFooCol{ width:260px; float:left;}
.centralFooCol{width:380px; float:left;}
.rightFooCol{ width:340px; float:right;}
.copy{ margin:0px 0px 30px 0px;}
footer .logo{ margin:0px 0px 0px -100px; width:377px; height:112px;}
.whiteArrList{ list-style-type:none; color:#ffffff; font-size:13px; margin:10px 0px;}
.whiteArrList a{color:#ffffff; text-decoration:none;}
.whiteArrList li{ background:url(spriteIc.png) no-repeat 0px -230px; padding:7px 0px 7px 15px;}
.whiteArrList li.yellowItem{ background-position:0px -255px; color:#ffbe0c;}
.whiteArrList li.yellowItem a{color:#ffbe0c;}
.centralFooCol .whiteArrList{margin:20px 0px;}
.centralFooCol .whiteArrList li{ width:130px; float:left;} 
.payAccept{ padding:30px 0px 12px 0px; background:url(paymentS.png) no-repeat right 25px; border-bottom:1px #6c7786 solid;}
.authorize{ padding:15px 0px; background:url(authoriz.jpg) no-repeat right 12px;}
footer .phoneAndLc{float:none; margin-top:10px;}
footer .phone{ float:none;}
footer .lc, footer .lc:hover, footer .lc:active{ background-color:transparent; border:0px;}
.disclaimer{ border-top:1px #6c7786 solid; padding:15px 0px 30px 0px; float:left; width:100%;}



/* ESSAYS-19230 */
nav .active {
    box-shadow: inset 0 3px 10px #996805;
}

.headBenefits {
    padding: 0;
}
.headBenefits .baseWidthCenter {
    display: table;
}
.yellowTitle {
    display: table-cell;
}
    .hrefyellow {
        display: block;
        width: 100%;
        line-height: 60px;
        font-weight: 600;
    }
    .yellowTitle a:hover {
        color: #1a9adf;
        background: #344151;
    }
    .yellowIco {
        display: block;
        margin-left: 20px;
        width: 40px;
        background: url(spriteId.png) no-repeat 0 -286px;
        position: relative;
        top: 12px;
    }
        .yellowTitle a:hover .yellowIco {
            background-position: -41px -286px;
        }
        .yellowTitle a:hover .secondIco {
            background-position: -41px -331px;
        }
        .yellowTitle a:hover .thirdico {
            background-position: -41px -377px;
        }
        .yellowTitle a:hover .fourthIco {
            background-position: -41px -421px;
        }


    .centralFooCol .whiteArrList a:hover {
        text-decoration: underline;
    }

    .contentBenefits .textBenefits {
        width: 25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
.ne_media-item{
	margin-top: 20px;
}	
.ne_media-item img{
	float:left;
	margin-right: 10px;
}
.ne_media-text{
	margin-top: 10px;
}
.ne_readmore-link{
	background: url("http://www.ninjaessays.com/web/images/more-link-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    color: #777F87;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 26px;
    list-style: none outside none;
    margin: 10px 0 10px 155px;
    overflow: hidden;
    padding: 0 20px 0 0;
    text-decoration: none;
    text-indent: 12px;
    width: 117px;
	position: absolute;
}
.ne_readmore-link:hover{
	background-position: 0 -28px;
	color:#366fac;
	text-decoration:none;
}