.clr{clear:both; font-size:1px; line-height:1px; height:0; overflow:hidden;}
.without_border{border: none !important; background: #FFF !important;}
input {
    border:0px;
    z-index: expression(
    runtimeStyle.zIndex = 1,
    type == "checkbox" ? (className += " without_border") : 0,
    type == "radio" ? (className += " without_border") : 0
    )
}
input[type=checkbox], input[type=radio] {border: none !important;}
.button_green{
    background: url("http://www.ninjaessays.com/images/order_form_new/button_green.gif") repeat-x 0 0;
    border:1px solid #1b5713;
    color:#FFF; font: bold 11px Arial;
    padding:3px 10px;
    text-decoration: none;
    display: none;
}

#order_form {background: #ffffff;}
#preview_table_container .even {background: #fff !important;}
#order_form #order_table {border-collapse: collapse; width: 100%; _width:auto;}
#order_form td {vertical-align: top; padding:3px 0 4px 5px; font-family: Arial; color:#444;}
#order_form td.label {
    font-size:12px;
    font-weight: bold;
    font-family: Arial;
    padding: 2px 5px 0 30px;
    width: 172px;
    text-align: left;
}
#order_form div#order_total_block {
    border-left: 2px solid #F7EFC8;
    border-right: 2px solid #F7EFC8;
    border-bottom: 2px solid #F7EFC8;
    background-image: url("total_bg.jpg");
    background-repeat: repeat-x;
    margin-top: -105px;
    float:left;
    margin-left:190px;
    width: 310px;
    height: 110px;
}
#preview_table_container div#order_total_block {
    margin-left:355px;
    margin-top: -125px;
}
#preview_table_container .vas_price {
    position: relative;
    top: -5px;
}
#order_form div#order_total_block .label_comment {
    text-align: center;
    width: 100%;
    color: #404040;
    display: block;
    font-weight: normal !important;
}
td.preview_value{color:#000 !important; font-size:12px !important; font-weight: bold;}
#value_details{display: block;padding:10px; width: 500px;}
#order_form .order_title{font-size:18px;}
#order_form th {
    padding: 9px 0px 8px 0px;
    text-align: left;
    color:#235d85 !important;
    background: none;
    height: auto;
}
#order_form th .order_title {
    color:#235d85 !important;
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #f4f4f4;    
}
#preview_table_container th{background: #FFF !important;}
.preview_order_title, .order_title{
    height:30px;font: bold 18px Arial;
    padding-left: 5px;    
    line-height: 30px;
}
#preview_table_container{border-top:1px solid #afafaf; border-bottom:1px solid #afafaf; padding: 5px 0; margin: 5px 0;}
#preview_table_container table{border-collapse: collapse; width: 100%;}

.order_title{}
.order_title_2{background-position: 0 -80px;}
.order_title_3{background-position: 0 -160px;}
.order_title_2_customer{background-position: 0 0;}
.order_title_3_customer{background-position: 0 -80px;}
.order_title_1_active{background-position: 0 -40px;}
.order_title_2_active{background-position: 0 -120px;}
.order_title_3_active{background-position: 0 -200px;}


#order_table .required_star {color: red !important; display: inline;}
#order_form td.label_phone {padding-top: 8px; padding-bottom: 6px;}
#row_phone2 .label{padding-bottom:20px;}
#order_form ul.prefflist,
#order_form ul.radiolist {list-style: none; float: left; margin: 0; padding-left: 0;  width:280px;}
#row_phone2 .label{padding-bottom:20px;}
#order_form ul.prefflist li,
#order_form ul.radiolist li {list-style: none;	background: none; padding-bottom:3px; /*height: 25px;*/}
#order_form ul.prefflist input{width:200px; float: left; margin-bottom:5px;}
#order_form ul.prefflist img.add,
#order_form ul.prefflist img.delete {
	cursor: pointer;
    /*position: absolute;*/
    margin-top: 8px;
    float: left;
    padding-left: 10px;
    
}
#order_form ul.prefflist img.delete{margin-left:3px;}

div.validation_error {color: #900; display: none;}
#error_phone1{width:211px;}
.help {display: block; width: 23px;}
.main_column {width: 425px;}
/* .foreign_column{width:265px;}*/
.label{width: 250px;}
#accept_container{font-size:12px; font-weight: normal; padding-top: 10px; color: #404040;}
#accept{color:#000; padding-left:250px;}
#accept a, #accept_container a{color:#235d85;text-decoration:underline;}
input.simpletext {border: none;	background: transparent;}
#order_form textarea{margin:0px 10px 5px 0px !important;}
#under_label{color: #808080; font:  bold 10px Arial;}

#order_form input, #order_form textarea{
    border-color:#d9d9d9 #efefef #efefef #efefef;
    border-style:solid;
    border-width:1px;
    padding:3px 5px;
    font-size:13px;  
    background-color: #f2f2f2;
    color: #000000;
    border-radius: 2px;
}
#personal_info input{color:#888;}
#firstname, #lastname{width:155px;float: left;}
#row_firstname .lastname_conteiner {
    display: block;
    width: 500px;
    padding-left:10px;
}
#phone1_number{width: 102px;}
#phone1_country, #phone1_area{width: 28px;}
#name, #email, #retype_email, #phone2, #topic {width:333px; float: left;}
#country-button {width: 165px !important;}

#country{width:207px;}

#ask_question,
#name_old, #email_old, #topic_old, #doctype_old, #wrlevel_old, #details_old, #order_category_old, #ask_question_old,
#password,#preff_wrt, #pass{    
    width: 235px;
}
#style{width:71px;}
#quiz_login, #quiz_password{width: 265px;}
#details {width: 333px; height: 70px;}
#promo {width: 150px;}
#urgency,#o_interval, #langstyle,#doctype, #wrlevel, #order_category,
#urgency_old, #style_old, #o_interval_old, #langstyle_old, #academic_level, #curr,
#numberOfSources, #curr_old, #numberOfSources_old, #numpages{    
    width: 345px;
}

.linear-select{display:block; height:22px;}

.form_el_container #linear-select-wrlevel a,
.form_el_container #linear-select-academic_level a,
.form_el_container #linear-select-curr a, .preview_curr {
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    padding: 5px 20px;
    margin-right: 15px;
    border-radius: 2px;
    font: bold 11px arial;
    color: #408cc4;
    text-transform: uppercase;
}
.form_el_container #linear-select-academic_level a {
    width: 90px;
    float: left;
    display: block;
    margin-right: 10px;
    text-align: center;
}
#linear-select-academic_level {
    width: 575px;
}
#linear-select-academic_level a.linear-last-opt {
    color: #b0b0b0;
}
#linear-select-wrlevel a.selected,
#linear-select-wrlevel a:hover,
#linear-select-academic_level a.selected,
#linear-select-academic_level a:hover,
#linear-select-curr a.selected,
#linear-select-curr a:hover {
    background-color: #408cc4;
    border: 1px solid #408cc4;
    color: #ffffff;
}
#order_total_block span#linear-select-curr {
    padding-left: 40px;
    margin-top: -7px;
}
#order_total_block #linear-select-wrlevel a,
#order_total_block #linear-select-curr a, .preview_curr{
    color:#404040;
    font: 12px Arial;
    border: 1px solid #F0E192;
    border-left-color: #ffffff;
    background:#2054a9 url("linear-s.gif") repeat-x 0 -32px;
    text-decoration: none;
    display:block;
    float:left;
    height: 22px;
    width: 55px;
    padding-top: 8px;
    text-align: center;
}
.preview_curr{
    color:#1b5713;
    font: bold 11px Arial;
    text-decoration: none;
    padding:3px 7px;
    display:block;
    border: 1px solid #659a5f;    
    background:#b3e4ad url("linear-s.gif") repeat-x 0 0px;
}

#order_total_block #linear-select-wrlevel a.selected,
#order_total_block #linear-select-wrlevel a:hover,
#order_total_block #linear-select-curr a.selected,
#order_total_block #linear-select-curr a:hover {
    color:#ac0c18;
    border: 1px solid #F0E192;
    font-weight: bold;
    background:url("linear-s.gif") repeat-x 0 0px;
}
#linear-select-curr a {
}
#order_total_block #linear-select-curr a.linear-first-opt {
    border-right-color: #ffffff;
    border-left-color: #F0E192;
}
#order_total_block #linear-select-wrlevel a.linear-last-opt {
    background-color: #408cc4;
    border: 1px solid #aeaeae;
}
#linear-select-wrlevel a:hover.linear-last-opt,
#linear-select-wrlevel a:hover.linear-last-opt,
#linear-select-wrlevel a.linear-last-opt-selected{background-position: 0 -30px;}
#linear-select-o_interval a, #linear-select-langstyle a{
    color:#444;
    font:normal 12px Arial;
    text-decoration: none;
    padding:0 0 0 20px;
    margin-right:20px;
    background: url("checkbox.gif") no-repeat 0 -25px;
    display:block;
    float:left;
    height: 25px;
}
#linear-select-langstyle a:hover,
#linear-select-langstyle a.selected,
#linear-select-o_interval a:hover,
#linear-select-o_interval a.selected{
    background-position: 0 0px;
    color:#4f9c04;
    font-weight: bold;
}
#linear-select-o_interval, #linear-select-langstyle{
    padding-top:4px;
    padding-left:5px;
    height: 18px;
    float:left;
    width:250px;
}
#linear-select-wrlevel{width:430px;}
.form_el_container #linear-select-wrlevel {
    width: 530px;
}
.field_hint{_float:left;}
#row_details .form_el_container{}
#row_details .form_subel_container{width:170px;}
#row_details .form_subel_container label{float:left;font-weight: bold; font: bold 11px Arial; line-height:22px; padding-right:5px;}
#style-button{float:left;}
#row_details .form_subel_container .field_hint{margin-left:5px;}

#row_will_upload_files .form_el_container{width:280px;}

.form_el_container{float:left;padding: 0 5px 0 0;}
#row_topic .form_el_container{width:100px;}
.form_subel_container{float:left;}
.previous_value{color: red;}
.previous_value_bold{font-weight: bold;}
#order_total_block .previous_value{color:#f96666; font-size:18px;}
.delimeter{font-size:15px;}
.clue-right {background-repeat: no-repeat; padding-left: 10px;}
.clue-left {background-repeat: no-repeat; padding-right: 10px;}

#cluetip-outer {border: 1px solid #555; position: relative;}
h3#cluetip-title {
  margin: 0px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: normal;
  background-color: #f6ffdc;
  color: #000;
}
#cluetip-close {text-align: right; margin: 0 5px 5px;color: #900;}
#cluetip-close img {border: 0;}

.preview_comment {font-style: italic;}

#submit_order_form, .btn_to_payment {
    background: url("button_o.gif") no-repeat;
    width: 230px;
    height: 41px;
    cursor: pointer;
    border: none !important;
    font-size: 0;
}

#order_btn_block a {
    background: url("button_o.gif") no-repeat;
    width: 230px;
    height: 41px;
    cursor: pointer;
    border: none !important;
    font: bold 20px arial;
    display: block;
}

#order_btn_block a:hover {
    background: url("button_o.gif") no-repeat scroll 0 -41px transparent;
}
#order_btn_block a:active {
    background: url("button_o.gif") no-repeat scroll 0 -82px transparent;    
}

.btn_to_payment{text-indent: -9999px;}
#order_form input#edit_order_prev,#order_form input.btn_edit_order_prev{
    background: transparent;
    border: 0px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0D48B9;
    padding: 0px;
    margin: 0px;
}
.btn_to_payment{
    background: url("btn_to_p.gif") no-repeat 0 0 !important;
    width:241px !important;
    height: 40px !important;
}
.button_wait_validation{
    background-position: url("http://www.ninjaessays.com/images/button_order.gif") no-repeat 0 0 !important;
    background-position: 0 -50px !important;
    text-indent: -9999px !important;
}
#resubmit_cancel{
    background: url("http://www.ninjaessays.com/images/order_form_new/resubmit_back_btn.gif") no-repeat;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: none !important;
    text-indent: -9999px;
}
#total, #value_total {	
    color: #af0c19;
    padding-left: 20px;
    font-weight: bold;
}
.tr_grey_bg{background: #e9e9e9 !important;}
.tr_border_top{}
#label_total{
    text-transform: uppercase;
    font-size:30px;
    color:#af0c19;
    text-align: center;
}
#discount_span {
    color: green;
    font-weight: bold;
    text-align: center;
    display: block;
}
.phone_plus {float: right; font-size: 17px;padding-right: 5px;}
.readonlyinput {padding: 3px 0;}
#order_form ul li {margin-left: 0;}

#prefwriter_urgency_attention {color: red;}
.showed {display: block}
.hidden {display: none}
#sub_text{color:#000000; font-size: 14px;}
.sbutton_order_form {    
	border: none;
	outline: none;
	width: 230px;
	height: 27px;
}
#phone_hint{color:#808080; font:bold 12px Arial;}
#phone_order_hint {width: 23px; display: inline; position: relative;}
#phone_country_code{float:left; padding:10px 0px 10px 7px; width: 45px; text-align: center;}
#phone_area_code{float:left; padding:10px; width: 40px; text-align: center;}
#phone_number{float:left; padding:10px 0 0 20px;}
#value_cost_per_page,#cost_per_page{
    font-weight: bold;
    font-size: 13px;
    color:#235d85;
}
#value_allow_night_calls {
    font-weight: bold;
    color: #6bb800;
}
.label_comment{
    font-weight: normal !important;
    display:block;
    color: #404040;
    text-align: left;
    width: 150px;
}
.pref_remove_img{position: absolute; margin-top: -23px; margin-left: 235px;}
.vas_row{font-weight: bold;}
#total_tag{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    padding: 5px 0pt;
    padding-top: 235px;
}
#total_tag_absolute{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    padding: 5px 0pt;
    padding-top: 200px;
    width:300px;
    height:300px;
}
#clear_block{clear:both; height: 0px;}
#clear_block_height{clear:both; height:8px;}
#accept2_inner{padding-top:10px;}
#order_btn_block{clear:both;}
.preview #order_btn_block{text-align:center;}
.preview #order_btn_block_first{
    clear:both; 
    margin-top:10px;
    padding-top: 20px;
    text-align:center;
}
#discount_lable{    
    width: 370px;
    height: 120px;
    padding-top: 10px;
}
#discount_lable_pos{padding:42px 0 0 57px;}
.login_block{position: absolute;}
.login_block_email{text-align:left;}
.login_block_pass{text-align:left; padding-top: 5px;}
#login_block_add{padding-top:15px; font-weight: bold;}
.login_block_rem{float:left; padding-right:20px;}
#login_block_btn{ clear: both; padding-top: 10px;}
.customer_blck_phone2{height:78px;}
.blck_hide{display: none;}
#notes_blck {display: block; width:200px;}
#notes_blck_start{
    width:195px;
    float:left;
    padding-left:2px;
    max-width:300px;
}
#notes_blck_pad{padding:5px 5px 5px 10px;}
#resubmit_readonly_field{padding-top:5px;}
/*.doctype_loading{float:left;}*/

#doctype-button{float:left;}
.ui-selectmenu{
    display: block; line-height: 22px;
    height:22px;
    text-decoration: none;
    overflow:hidden;    
    font-size:11px;
    color:#000000;
    border-radius: 2px;
}
.ui-selectmenu:hover
{
    text-decoration: none;
    color:#000000;
}
.ui-selectmenu-status {
    display:block;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 7px;
    padding-right:22px;
    line-height: 22px;
    background: url("selectbo.gif") no-repeat 100% 0 #f2f2f2;
    border-color: #D9D9D9 #EFEFEF #EFEFEF;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    font-size: 13px;
    text-transform: capitalize;
}
.ui-selectmenu-menu{
    background: #FFF; border: 1px solid #b7c3c7;
    padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto;
}
.ui-selectmenu-open {visibility: visible;}
.ui-selectmenu-menu li {
    padding:0; margin:0; 
    display: block;
    /*border-top: 1px dotted transparent;
    border-bottom: 1px dotted transparent;
    border-right-width: 0 !important;
    border-left-width: 0 !important;*/
    font-weight: normal !important;
}
.ui-selectmenu-menu li a {line-height: 14px; display:block; padding:5px;text-decoration:none; color:#888;font-size:11px; font-family: Arial; }
.ui-selectmenu-menu li a:hover, .ui-selectmenu-item-selected a{color:#FFF !important; background: #306ccf;}
.ui-selectmenu-group-label{color:#000; font-size:13px;}
.ui-selectmenu-menu .ui-selectmenu-group {font-size: 11px;color:#888;}
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label{line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold;}
.ui-selectmenu-menu .ui-selectmenu-group ul {margin: 0; padding: 0;}
#row_additional_142{display: none !Important;}
.error_field {
    /*border: #FF0000 3px solid !important;*/
}
.ok_field {
    background: #FFF url("http://www.ninjaessays.com/images/ok.png") no-repeat 0 0;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
}

#order_form tr.tr_details {
   height: 40px;
}
#order_form #order_details .rounded_lbc{
    background: 0;
    height: 0;
}
#order_form #order_details .rounded_rbc {
    background: none;
    height: 0;
}
#order_form #personal_info {
    padding-bottom: 5px;
}
#order_form table#accept_table {
    border-top: 1px solid #d2d2d2;
    width: 100%;
}
#order_form table#accept_table td#terms_cond{
     width: 450px;
}
#phone1_country, #phone1_area {width: 85px !important;}
#phone1_number {width: 120px !important;}
#order_form .phone_conteiner {
    width: 377px;
}
#order_form .phone_conteiner #phone_order_hint {
     float: right;
}

.example {
    color: #666666;
    display: block;
    width: 180px;
    float: left;
    padding-left: 10px;
}
#urgency-button, #doctype-button, #order_category-button {
    width: 345px !important;
}
#numpages-button {
    width: 220px !important;
}
#style-button {
    width: 90px !important;
}
#numberOfSources-button, #numberOfSources-menu {
    width: 110px !important;
}
#urgency-menu, #doctype-menu, #order_category-menu {
    width: 340px !important;
}
#numpages-menu {
    width: 215px !important;
}
#style-menu {
    width: 85px !important;
}
#country-menu {
    width: 160px !important;
}
#order_form .form_order_name {
    color: #2181c7;
    font-size: 15px;
    font-weight: normal;
    padding-left: 25px;
    padding-bottom: 10px;
    vertical-align: bottom;
}
#order_form .field_group {
    height: 60px;
    vertical-align: bottom;
}
#country-button .ui-selectmenu-status {
    color: #000000;
}
#academic_level_back-button {
    display: none;
}
.sweet-checkbox a {
    background: url("sweet_ch.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    margin-right: 15px;
    padding: 0 0 0 20px;
    text-decoration: none !important;
}
.sweet-checkbox a.checked {
    background: url("sweet_ch.gif") no-repeat scroll 0 -22px transparent;
}
#lstyle_options .lstyle_option {
    display: none;
}
#langstyle_container {
    float: left;
    padding-right: 10px;
    padding-left: 20px;
}
#langstyle {
    display: none;
}
#row_langstyle #langstyle_container {
    padding-left: 0;
}
#error_phone2 {
    float: left;
}
#sweet-checkbox-will_upload_files {
    float: left;
    padding-bottom: 20px;
}

/*#order_form th {
    background: none;
    color:#000;
    font-weight:bold;
    height:30px;
    padding-left:10px;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    text-align: left;
}*/

#num_pg_ord
{
    display:none;
}
#row_will_upload_files .form_el_container {
    width: 300px !important;
}

.preview .preview_curr {
    display: none;
}
.preview #label_total {
    padding-top: 15px;
}


.ne_left-colomn,
.ne_right-colomn
{
    display:none;
}

div.orderform {
    width: 950px;
}