$arrowsIcoPath: '../img/arrowsIco.png';
.arrowsContainer {
	width: 100%;
	margin: 0 auto;
	position: relative;
	.big.red.deepBtn {
		margin: 80px auto;
	}
	$icos: (
		left1 : (0, 100px, 19px, -23px, 25.5%),
		left2 : (-24px, 87px, 18px, 29px, 25.5%),
		left3 : (-47px, 58px, 36px, 77px, 29%),
		right1 : (-88px, 100px, 19px, -22px, 66.5%),
		right2 : (-112px, 87px, 18px, 29px, 67.5%),
		right3 : (-135px, 58px, 36px, 78px, 66.4%)
	);
	@each $key, $value in $icos {
		$bg-position-y: nth($value, 1);
		$width: nth($value, 2);
		$height: nth($value, 3);
		$top: nth($value, 4);
		$left: nth($value, 5);
		.#{$key} {
			position: absolute;
			background: url($arrowsIcoPath) no-repeat;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
			top: $top;
			left: $left;
			@include transition(left 0.8s);
		}
	}
}
@media only screen and (min-width: 990px) and (max-width: 1279px) {
	.arrowsContainer {
		.arrow.right1,
		.arrow.right2,
		.arrow.right3 {
			left: 70.5%;
		}
		.arrow.left1,
		.arrow.left2 {
			left: 19.5%;
		}
		.arrow.left3 {
			left: 22%;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 989px) {
	.arrowsContainer {
		.arrow.right1,
		.arrow.right2,
		.arrow.right3 {
			left: 76.5%;
		}
		.arrow.left1,
		.arrow.left2 {
			left: 8.5%;
		}
		.arrow.left3 {
			left: 12.5%;
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.arrowsContainer {
		.arrow {
			display: none;
		}

	}
}
