@import '_chickListAnimation';
$chickListPath: '../img/chickListIco.png';
.chicks {
	display: table;
	li {
		display: table-cell;
		width: 33%;
		padding: 0 20px 0 0;
		vertical-align: top;
		&:last-child {
			padding: 0;
		}
		.circle {
			margin: 0 auto;
			position: relative;
			&.ins1 {
				background: url($chickListPath) no-repeat;
				background-position: 0 -961px; 
				width: 231px; 
				height: 241px;
			}
			&.ins2 {
				background: url($chickListPath) no-repeat;
				background-position: 0 -1207px; 
				width: 231px; 
				height: 241px;
			}
			&.ins3 {
				background: url($chickListPath) no-repeat;
				background-position: 0 -1470px; 
				width: 231px; 
				height: 241px;
			}
			.chick {
				position: relative;
				$icos: (
					body1 : (0, 189px, 142px, 63px, 18%),
					hat1 : (-147px, 101px, 76px, 18px, 29%),
					mustache1 : (-228px, 55px, 19px, 135px, 40%),
					wing1 : (-252px, 63px, 110px, 46px, 9%),
					gallucination22 : (-367px, 24px, 26px, 21px, 61%),
					gallucination21 : (-398px, 24px, 26px, 17px, 24%),
					glasses2 : (-429px, 176px, 67px, 82px, 20%),
					body3 : (-501px, 173px, 188px, 47px, 11.3%),
					eyes3 : (-694px, 69px, 23px, 106px, 34%),
					leftHand3 : (-722px, 109px, 107px, 93px, -9%),
					rightHand3 : (-834px, 111px, 122px, 31px, 69%)
				);
				@each $key, $value in $icos {
					$bg-position-y: nth($value, 1);
					$width: nth($value, 2);
					$height: nth($value, 3);
					$top: nth($value, 4);
					$left: nth($value, 5);
					.#{$key} {
						position: absolute;
						background: url($chickListPath) no-repeat;
						background-position: 0 $bg-position-y;
						width: $width;
						height: $height;
						top: $top;
						left: $left;
					}
				}
			}
			&:hover {
				.wing1 {
					@include animation(leftWing 2s);
				}
				.hat1 {
					@include animation(hat 1.3s 0.5s);
				}
				.mustache1 {
					@include animation(mustache 10s infinite);
				}
				.glasses2 {
					@include animation(glasses 10s infinite);
				}
				.gallucination22 {
					@include animation(gallucination 0.5s infinite);
				}
				.gallucination21 {
					@include animation(gallucination2 0.5s infinite);
				}
				.leftHand3 {
					@include animation(leftWing3 1s infinite);
				}
				.eyes3 {
					@include animation(blink 5s infinite);
				}
				.rightHand3 {
					@include animation(rightWing3 1s infinite);
				}
			}
		}
	}
	h3 {
		text-align: center;
		color: #424242;
		font: normal 22px Impact;
		text-transform: uppercase;
	}
	p {
		color: #555555;
		font: normal 15px/1.4em Times New Roman;
	}
}
@media only screen and (min-width: 319px) and (max-width: 767px) {
	.chicks {
		li {
			display: block;
			width: 100%;
			margin: 0 0 20px 0;
			padding: 0;
		}
	}
}
@media only screen and (min-width: 1280px) {
	.chicks {
		li {
			padding: 0 48px 0 0;
		}
		p {
			font-size: 18px;
		}
	}
}
