.orderSectionChick {
	top: 171px;
	right: -115px;
	width: 376px;
	height: 250px;
	position: absolute;
	z-index: 9;
	$icos: (
		chickie : (0, 308px, 250px),
		eyes : (-255px, 111px, 28px),
		tie : (-288px, 78px, 53px),
		wingie : (-346px, 130px, 130px)
	);
	$spritePath : '../img/chickOrderSection.png';
	@each $key, $value in $icos {
		$width: nth($value, 2);
		$height: nth($value, 3);
		$bg-position-y: nth($value, 1);
		.#{$key} {
			display: block;
			background: url($spritePath) no-repeat;
			position: absolute;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
		}
	}
	&:after {
		content: "";
		display: block;
		background: url(../img/enjoyCloud.png) no-repeat;
		width: 274px;
		height: 135px;
		position: absolute;
		top: -113px;
		left: 64px;
	}
	.chickie {
		top: 0px;
		left: 63px;
	}
	.wingie {
		top: 68px;
		left: -7px;
	}
	.tie {
		top: 171px;
		left: 146px;
	}
	.eyes {
		top: 93px;
		left: 140px;
	}
}
@media only screen and (max-width: 1279px) {
	.orderSectionChick {
		display: none;
	}
}
//anim shit

@include keyframes(wingMove) {
	0% {
		@include transform(rotate(0deg));
		top: 68px;
		left: -7px;
	}
	50% {
		@include transform(rotate(-20deg));
		top: 80px;
		left: -16px;
	}
	100% {
		@include transform(rotate(0deg));
		top: 68px;
		left: -7px;
	}
}
@include keyframes(rotateTie) {
	0% {
		@include transform(rotate(0deg));
	}
	25% {
		@include transform(rotate(15deg));
	}
	45% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(0deg));
	}
	65% {
		@include transform(rotate(-15deg));
	}
	85% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(blink) {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	91% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.orderSectionChick .wingie.anim {
	@include animation(wingMove 0.5s);
}
.orderSectionChick:hover .tie {
	@include animation(rotateTie 3s infinite);
}
.orderSectionChick .eyes {
	@include animation(blink 5s infinite);
}