//ins1
@include keyframes(leftWing) {
	0% {
		@include transform(rotate(0deg));
		left: 9%;
	}
	30% {
		@include transform(rotate(26deg));
		left: 17%;
	}
	60% {
		@include transform(rotate(11deg));
		left: 11%;
	}
	75% {
		@include transform(rotate(26deg));
		left: 17%;
	}
	100% {
		@include transform(rotate(0deg));
		left: 9%;
	}
} 
@include keyframes(hat) {
	0% {
		top: 18px;
		left: 29%;
	}
	50% {
		@include transform(rotate(-15deg));
		top: -6px;
		left: 19%;
	}
	100% {
		@include transform(rotate(0deg));
		top: 18px;
		left: 29%;
	}
}
@include keyframes(mustache) {
	0% {
		@include transform(rotate(0deg));
	}
	5% {
		@include transform(rotate(-10deg));
	}
	10% {
		@include transform(rotate(0deg));
	}
	94% {
		@include transform(rotate(0deg));
	}
	95% {
		@include transform(rotate(10deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
//ins2
@include keyframes(glasses) {
	0% {
		@include transform(rotate(0deg));
	}
	5% {
		@include transform(rotate(0deg));
	}
	15% {
		@include transform(rotate(5deg));
	}
	25% {
		@include transform(rotate(0deg));
	}
	80% {
		@include transform(rotate(0deg));
	}
	90% {
		@include transform(rotate(-5deg));
	}
	100% {
		@include transform(rotate(0deg));
	}
}
@include keyframes(gallucination) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(180deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}
@include keyframes(gallucination2) {
	0% {
		@include transform(rotate(0deg));
	}
	50% {
		@include transform(rotate(-180deg));
	}
	100% {
		@include transform(rotate(-360deg));
	}
}
//ins3
@include keyframes(leftWing3) {
	0% {
		@include transform(rotate(0deg));
		top: 93px;
		left: -9%;
	}
	50% {
		@include transform(rotate(-40deg));
		top: 115px;
		left: -15%;
	}
	100% {
		@include transform(rotate(0deg));
		top: 93px;
		left: -9%;
	}
}
@include keyframes(rightWing3) {
	0% {
		@include transform(rotate(0deg));
		top: 31px;
		left: 69%;
	}
	50% {
		@include transform(rotate(40deg));
		top: 64px;
		left: 79%;
	}
	100% {
		@include transform(rotate(0deg));
		top: 31px;
		left: 69%;
	}
}
@include keyframes(blink) {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	91% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}