// retardinonimation
@include keyframes(penMoving) {
	0% {
		@include transform(rotate(0deg));
	}
	1% {
		@include transform(rotate(-40deg));
	}
	2% {
		top: 35px;
		left: -1%;
	}
	3% {
		top: 40px;
		left: -1%;
	}
	4% {
		top: 40px;
		left: 11%;
	}
	5% {
		@include transform(rotate(-58deg));
	}
	6% {
		top: 50px;
		left: 1%;
	}
	7% {
		top: 54px;
		left: 5%
	}
	8% {
		top: 54px;
		left: 10%;
	}
	9% {
		@include transform(rotate(-75deg));
	}
	10% {
		top: 61px;
		left: -3%;
	}
	11% {
		top: 66px;
		left: -3%;
	}
	13% {
		top: 65px;
		left: 4%;
	}
	16% {
		@include transform(rotate(0deg));
		top: 29px;
		left: 0%;
	}
}
@include keyframes(checkAppear) {
	0% {
		opacity: 0;
	}
	2% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@include keyframes(typing) {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	21% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@include keyframes(text) {
	0% {
		left: 15%
	}
	90% {
		left: 27%;
	}
}
@include keyframes(wordAppear1) {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@include keyframes(wordAppear2) {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	55% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@include keyframes(wordAppear3) {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	85% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@include keyframes(zooming) {
	0% {
		@include transform(rotate(0deg));
	}
	2% {
		@include transform(rotate(40deg));
	}
	5% {
		left: 6%;
		top: -20%;
	}
	7% {
		@include transform(rotate(-114deg));
		left: 33%;
	}
	10% {
		left: 62%;
		top: 10%;
	}
	15% {
		@include transform(rotate(0deg));
		top: 1%;
		left: -3%;
	}
}
@include keyframes(waves) {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@include keyframes(shaking) {
	0% {
		top: -6%;
		left: -3%;
	}
	20% {
		top: -7%;
		left: -4%;
	}
	60% {
		top: -5%;
		left: -2%;
	}
	100% {
		top: -6%;
		left: -3%;
	}
}
@include keyframes(cloud) {
	0% {
		@include transform(scale(0));
	}
	100% {
		@include transform(scale(1));
	}
}