$spriteHiwPath: '../img/hiwIco.png';
@import '_hiwAnimation';
.hiw {
	display: table;
	width: 100%;
	padding: 0 0 50px 0;
	li {
		display: table-cell;
		width: 25%;
		padding: 0 40px 0 0;
		vertical-align: top;
		position: relative;
		&:last-child {
			padding: 0;
		}
	}
	h3 {
		font: normal 22px Impact;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}
	p {
		font: italic 15px Times New Roman;
		color: #fff;
		text-align: left;
	}
	.hiwIco.apply {
		&:after {
			content: "";
			display: block;
			position: absolute;
			background: url($spriteHiwPath) no-repeat;
			background-position: 0 -1230px; 
			width: 83px; 
			height: 19px;
			top: 7%;
			right: -88%;			
		}
	}
	.hiwIco.assign {
		&:after {
			content: "";
			display: block;
			position: absolute;
			background: url($spriteHiwPath) no-repeat;
			background-position: 0 -1254px; 
			width: 86px; 
			height: 16px; 
			top: 16%;
			right: -83%;
		}
	}
	.hiwIco.research {
		&:after {
			content: "";
			display: block;
			position: absolute;
			background: url($spriteHiwPath) no-repeat;
			background-position: 0 -1275px; 
			width: 89px; 
			height: 31px;
			top: 10%;
			right: -97%;
		}
	}
}
.hiwIco {
	position: relative;
	height: 100px;
	width: 120px;
	margin: 0 auto;
	$icos: (
		applyBw : (0, 112px, 92px),
		assignBw : (-97px, 102px, 98px),
		books : (-200px, 81px, 80px),
		btn : (-285px, 6px, 4px),
		check : (-294px, 12px, 13px),
		cloud : (-312px, 57px, 45px),
		deliveryBw : (-362px, 116px, 91px),
		head1 : (-458px, 54px, 25px),
		head2 : (-488px, 56px, 23px),
		head3 : (-516px, 32px, 23px),
		lines : (-544px, 150px, 97px),
		paper : (-646px, 91px, 92px),
		pen : (-743px, 112px, 41px),
		researchBw : (-789px, 117px, 81px),
		text : (-875px, 53px, 20px),
		typewriter : (-900px, 102px, 98px),
		volks : (-1003px, 116px, 91px),
		waves : (-1099px, 52px, 41px),
		zoomer : (-1145px, 77px, 80px)
	);
	
	@each $key, $value in $icos {
		$width: nth($value, 2);
		$height: nth($value, 3);
		$bg-position-y: nth($value, 1);
		.#{$key} {
			display: block;
			background: url($spriteHiwPath) no-repeat;
			position: absolute;
			background-position: 0 $bg-position-y;
			width: $width;
			height: $height;
		}
	}
	&.apply {
		.applyBw {
			top: -6px;
			left: -1%;
		}
		.paper {
			top: -6px;
			left: 17%;
		}
		.check {
			&.ins1 {
				top: 6px;
				left: 55%;
			}
			&.ins2 {
				top: 15px;
				left: 47%;
			}
			&.ins3 {
				top: 24px;
				left: 38%;
			}
		}
		.pen {
			top: 29px;
			left: 0%;
		}
		.lines {
			top: -13px;
			left: -14%;
		}
		& {
			.applyBw {
				display: block;
			}
			.paper,
			.check,
			.pen,
			.lines {
				display: none;
			}
			
		}
		&:hover {
			.applyBw {
				display: none;
			}
			.paper,
			.check,
			.pen,
			.lines {
				display: block;
			}
			.pen {
				@include animation(penMoving 20s);
			}
			.check.ins1 {
				opacity: 0;
				@include animation(checkAppear 20s 0.5s);	
			}
			.check.ins2 {
				opacity: 0;
				@include animation(checkAppear 20s 1.3s);	
			}
			.check.ins3 {
				opacity: 0;
				@include animation(checkAppear 20s 2s);	
			}
			.lines {
				opacity: 0;
				@include animation(waves 4s infinite);	
			}
		}
	}
	&.assign {
		.assignBw {
			top: -1px;
			left: 10%;
		}
		.typewriter {
			top: -1%;
			left: 10%;
		}
		.head1 {
			top: -31%;
			left: 29%;
		}
		.head2 {
			top: -32%;
			left: 29%;
		}
		.head3 {
			top: -31%;
			left: 38%;
		}
		.text {
			top: 1%;
			left: 29%;
		}
		.btn {
			&.ins1 {
				top: 54%;
				left: 54%;
			}
			&.ins2 {
				top: 60%;
				left: 41%;
			}
			&.ins3 {
				top: 60%;
				left: 65%;
			}
			&.ins4 {
				top: 66%;
				left: 53%;
			}
			&.ins5 {
				top: 60%;
				left: 26%;
			}
		}
		& {
			.assignBw {
				display: block;
			}
			.typewriter,
			.head1,
			.head2,
			.head3,
			.btn,
			.text {
				display: none;
			}
		}
		&:hover {
			.assignBw {
				display: none;
			}
			.typewriter,
			.head1,
			.head2,
			.head3,
			.btn,
			.text {
				display: block;
			}
			.head1,
			.head2,
			.head3 {
				opacity: 0;
			}
			.head1 {
				@include animation(wordAppear1 5s infinite);
			}
			.head2 {
				@include animation(wordAppear2 5s infinite);
			}
			.head3 {
				@include animation(wordAppear3 5s infinite);
			}

			.text {
				@include animation(text 2s infinite);
			}
			.btn {
				opacity: 0;
			}
			.btn.ins1 {
				@include animation(typing 1.5s 0.1s infinite);
			}
			.btn.ins2 {
				@include animation(typing 1.5s 0.3s infinite);
			}
			.btn.ins3 {
				@include animation(typing 1.5s 0.5s infinite);
			}
			.btn.ins4 {
				@include animation(typing 1.5s 0.7s infinite);
			}
			.btn.ins5 {
				@include animation(typing 1.5s 1s infinite);
			}
		}
	}
	&.research {
		.researchBw {
			top: -2px;
			left: -2%;
		}
		.books {
			top: 0%;
			left: 28%;
		}
		.zoomer {
			top: -1%;
			left: -3%;
		}
		.waves {
			top: 43%;
			left: -10%;
		}
		.lines {
			top: -12px;
			left: -10%;
			@include transform(rotate(-6deg));
			&:hover {
				@include animation(waves 4s infinite);	
			}
			opacity: 0;
			
		}
		& {
			.researchBw {
				display: block;
			}
			.books,
			.zoomer,
			.waves {
				display: none;
			}
			
		}
		&:hover {
			.researchBw {
				display: none;
			}
			.books,
			.zoomer,
			.waves {
				display: block;
			}
			.zoomer {
				@include animation(zooming 20s);
			}
			.waves {
				opacity: 0;
				@include animation(waves 3s 3s);
			}
		}
	}
	
	&.delivery {
		.deliveryBw {
			top: -7px;
			left: -2%;
		}
		.volks {
			top: -6%;
			left: -3%;
		}
		.cloud {
			top: 43%;
			left: -48%;
		}
		& {
			.deliveryBw {
				display: block;
			}
			.volks,
			.cloud {
				display: none;
			}
		}
		&:hover {
			.deliveryBw {
				display: none;
			}
			.volks,
			.cloud {
				display: block;
			}
			.volks {
				@include animation(shaking 0.5s infinite);
			}
			.cloud {
				@include animation(cloud 3s);
			}
		}
	}
}
@media only screen and (min-width: 319px) and (max-width: 767px) {
	.hiw {
		li {
			display: block;
			width: 100%;
			margin: 0 0 50px 0;
			padding: 0;
		}
	}
}
@media only screen and (max-width: 990px) {
	.hiw {
		.hiwIco.apply:after,
		.hiwIco.assign:after,
		.hiwIco.research:after {
			display: none;
		}
	}
}
@media only screen and (min-width: 1280px) {
	.hiw {
		li {
			padding: 0 48px 0 0;
		}
		p {
			font-size: 18px;
		}
	}
	.hiw {
		.hiwIco.apply:after {
			right: -110%;
		}
		.hiwIco.assign:after {
			right: -110%;
		}
		.hiwIco.research:after {
			right: -125%;
		}
	}
}