@import "common/_customSelect.scss";
@import "_chickOrderSection.scss";
.orderFormWrap {
	display: inline-block;
	margin: 40px 0;
	background: url(../img/orderFormBg.png) no-repeat;
	width: 694px;
	padding: 0 40px;
	.customTextarea {
		margin: 5px 15px;
	}
	h2 {
		display: none;
		font: normal 34px Marcellus SC;
		color: #595243;
	}
	.outerWrap {
		margin: 85px 0 0 0;
		border-top: 1px dotted #787161;
	}
	.inputsBox {
		display: inline-block;
		margin: 20px 0;
		width: 445px;
		border-right: 1px dotted #787161;
	}
}
.orderFormCompact {
	display: table;
	.row {
		display: table-row;
		.label,
		.input {
			vertical-align: middle;
			height: 35px;
			display: table-cell;
		}
	}
	.label {
		width: 115px;
		text-align: right;
		font: normal 12px Open Sans;
		text-transform: uppercase;
		color: #595243;
	}
}
.totalPriceWrap {
	float: right;
	width: 240px;
	margin: 50px 0 0 0;
	.upperText {
		font: normal 12px Open Sans;
		color: #827c6b;
		text-align: center;
		text-transform: uppercase;
	}
	.priceValue {
		text-transform: uppercase;
		text-align: center;
		font: 800 35px Open Sans;
		color: #444444;
	}
}

@media only screen and (max-width: 1279px) {
	.commonWidthWrap.orderSection {
		width: 774px;
		margin: 0 auto;
	}
}
	
@media only screen and (min-width: 768px) and (max-width: 820px) {
	.commonWidthWrap.orderSection {
		width: 730px;
		margin: 0 auto;
	}
	.orderFormWrap {
		width: 650px;
		background-size: 100%;
		height: 313px;
	}
	.orderFormWrap .outerWrap {
		margin: 75px 0 0 0;
	}
	.orderFormWrap .inputsBox {
		margin: 10px 0;
		width: 405px;
	}

}
@media only screen and (max-width: 767px) {
	.orderFormWrap {
		background: url(../img/orderSectionMobileLetterBg.png) repeat;
		width: auto;
		margin: 40px auto;
		width: 300px;
		@include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.75));
		position: relative;
		padding: 0 10px;
		&:before {
			content: "";
			display: block;
			background: url(../img/orderSectionMobileLetterLine.png) repeat-x;
			height: 6px;
			width: 94%;
			position: absolute;
			top: 10px;
			left: 10px;
		}
		&:after {
			content: "";
			display: block;
			background: url(../img/orderSectionMobileLetterLine.png) repeat-x;
			height: 6px;
			width: 94%;
			position: absolute;
			bottom: 10px;
			left: 10px;
		}
		.outerWrap {
			margin: 15px 0 30px 0;
			border: 0;
			
		}
		h2 {
			display: block;
		}
		.inputsBox {
			width: auto;
			border-right: none;
		}
	}
	.orderFormCompact {
		.row {
			.label,
			.input {
				display: block;
			}
			.label {
		 		width: auto;
		 		text-align: left;
				height: 20px;
			}
		}
	}
	.customSel .chosenOption,
	.customSel .hiddenSel {
		margin: 0;
	}
	.customSel.active .customDropDown {
		left: 2%;
		width: 95%;
	}
	.totalPriceWrap {
		float: none;
		width: auto;
		.deepBtn {
			left: 16%;
		}
	}
	.commonWidthWrap.orderSection {
		width: 320px;
	}
	.orderFormWrap .customTextarea {
		margin: 0;
	}
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
	.orderFormWrap {
		width: 280px;
		.outerWrap {
			position: relative;
			&:after {
				position: absolute;
				display: block;
				content: "";
				background: url(../img/orderSectionMobileStamp.png) no-repeat;
				width: 108px;
				height: 98px;
				top: 0px;
				right: -10px;
			}
		}
	}
	.customSel .chosenOption,
	.customSel .hiddenSel {
		width: 280px;
	}
	.customTextarea {
		width: 260px;
	}
	.commonWidthWrap.orderSection {
		width: 300px;
	}
}