dl#share-discount {
	position: absolute;
	margin: auto;
	top: 200px;
	display: none;
	width: 518px;
	padding: 0 0 17px 0;
	background: url('http://www.ninjaessays.com/images/2/share-discount-bg.png') right bottom no-repeat;
}
#share-discount dt {
	color: #404040;
	float: none;
	background: url('http://www.ninjaessays.com/images/2/share-discount-bg.png') left top no-repeat;
	font-size: 18px;
	font-weight: normal;
	padding: 20px 25px 7px;
	margin: 0;
	width: 468px;
}
#share-discount dd {
	float: none;
	padding: 16px 25px;
	margin: 0;
	background: url('http://www.ninjaessays.com/images/2/share-discount-bg.png') center top repeat-y;
	position: relative;
}

#share-discount ul,
#share-discount li {
	line-height: 36px;
	padding: 5px 0;
	margin: 0;
	list-style: none;
	color: #404040;
	overflow: hidden;
	_height: 0;
}
#share-discount li label {
	float: left;
	width: 155px;
	text-align: right;
	padding-right: 10px
}
#share-discount li input,
#share-discount li .text {
	background: #fff;
	padding: 5px;
	height: 26px;
	border: solid 1px #D9D9D9;
	width: 260px;
	float: left;
}
#share-discount li .text {
	line-height: 18px;
	height: 150px;
	overflow: scroll;
}
#share-discount .loading {
	position: absolute;
	left: 25px;
	top: 16px;
	padding-left: 200px;
	display: none;
	font-size: 27px;
	background: #F2F2F2 url('http://www.ninjaessays.com/images/2/share-discount-loader.gif') 160px center no-repeat;
}
#share-discount .success {
	display: none;
}
#share-discount .x {
	background: url('http://www.ninjaessays.com/images/2/share-discount-btns.png') right top no-repeat;
	/*float: right;*/
	text-decoration: none;
	width: 12px;
	height: 11px;
	line-height: 11px;
	margin-top: 4px;
	
	position: absolute;
	right: 25px;
	top: 20px;
	
}

#share-discount .add,
#share-discount .delete {
	margin: 7px 0 6px 0;
	width: 23px;
	height: 23px;
	line-height: 23px;
	background: url('http://www.ninjaessays.com/images/2/share-discount-btns.png') left center no-repeat;
	float: right;
	text-decoration: none;
}
#share-discount .delete {
	background-position: -23px top;
	margin-left: -40px;
	margin-right: 40px;
}
#share-discount .errors {
	padding: 1em 5em;
	font-weight: bold;
	color: #f00;
	display: none;
}