/* CSS Document */
#site-logo {
    float: left; height: 74px; padding-top: 16px; text-align: left; width: 200px;}
	
#header .phone { background:url(http://img3.essayontime.com/images/2/phone_eot_img.png) no-repeat; width:98px; height:25px; margin:32px 10px 0px 0px;}

#header .livechat {
    background: url("http://www.ninjaessays.com/images/2/live-chat.png") no-repeat scroll left top transparent;height: 36px;margin: 26px 90px 0px 0px;width: 100px;}
	
#content {
    background: url("http://www.ninjaessays.com/images/2/allbg.png") repeat-y scroll center top #d5e9ff;margin: auto;padding: 0 20px;width: 956px;}

#columns {
    background:url("http://www.ninjaessays.com/images/2/left_menu_bg.gif") repeat-y scroll left top #FFFFFF;display: table-row;}

.menu li.selected a {
    background:url("http://www.ninjaessays.com/images/2/activ_point_bg.png") no-repeat scroll left center transparent;border: medium none; color: #FFFFFF;text-decoration: none;
    text-shadow: 0 0 1px #444488; width: auto;}

h1 { color: #b60e0e;}
h2 { color:#2268cc;}

h1, h2 {
    font-size: 18px;font-weight: bold; padding-left: 20px;
}

a.button.orange {background:url("order_sp.png") no-repeat; color: #FFFFFF; font-size: 14px;font-weight: bold;text-shadow: -1px -1px 1px #E58800; width: 160px; height:36px;}
a.button.orange:hover{background-position:0px -36px;}
a.button.orange:active{background-position:0px -72px;}

#footer a{color:#035db9;}

a.button.blue {	color: #fff !important;	text-shadow: -1px -1px 1px #5991D2;	background:url("http://www.ninjaessays.com/images/2/blue_bt.png") no-repeat;	width: 104px;
font-weight: bold;	font-size: 12px;line-height: 24px;height: 24px;}
a.button.blue:hover{background-position:0px -24px;}
a.button.blue:active{background-position:0px -48px;}

#header .logout a {color: #b60e0e; text-decoration: underline;}

/* CSS Document */

a.old_design, a.old_design  span { background: url(http://www.ninjaessays.com/images/2/old_design.gif) no-repeat 0px 0px; width:170px;  cursor:pointer; display:-moz-inline-stack;display:inline-block;clear:both; text-decoration:none; text-align:center;color:#fff; overflow:hidden; font:bold 12px Arial, Helvetica, sans-serif; text-transform:capitalize;}
a.old_design:hover, a.old_design:hover span  { background-position:0px -20px;}
a.old_design:active, a.old_design:active span {background-position:0px -40px;}
a.old_design  span { border:0; margin:0;position:relative;  height:20px;line-height:20px; background-position:top right;white-space:nowrap;}

.designButtons { position:relative; width:200px; margin-bottom: 10px;}
.designButtons a { margin:0px; }


a.new_design, a.new_design  span { background:url(http://www.ninjaessays.com/images/2/new_design.gif) no-repeat; width:210px; height:29px; cursor:pointer; display:-moz-inline-stack;display:inline-block;clear:both; text-decoration:none; text-align:center;color:#fff; overflow:hidden; font:bold 14px Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:#d75300 -1px 1px 0px;}
a.new_design:hover, a.new_design:hover span  { background-position:0px -29px;}
a.new_design:active, a.new_design:active span {background-position:0px -58px;}
a.new_design  span { border:0; margin:0;position:relative;  height:29px;line-height:29px; background-position:top right;white-space:nowrap;}

/* vasdetail */
.additionalserv-wrap{margin:25px 0 5px 0;}
.addser-head{color:#5652a2;font-size:16px;font-weight:bold;margin:0 0 5px 0; padding-left:0px;text-align:left;}
.addserv-table{width:100%;border-collapse:collapse;border-top:1px solid #4d53b1;}
.addserv-table .evenn td{background-color:#dee8ff;}
.addserv-table .odd td{background-color:#eaf0fd;}
.addserv-table td{border-bottom:3px solid #fff;color:#333;text-align:right;height:44px;vertical-align:middle;}
.addserv-table td a img, #fancybox-content #data1 a img {border: 0;}
.yestext, .notext{font-size:12px !important;margin:0 !important;float:none !important;}
.yestext{color:#474399 !important;}
.notext{color:#dd5d07 !important;}
.popup-container{padding:20px 0;text-align:center;font-size:16px;font-weight:bold;width:445px;}
.popup-container p{margin:0 0 25px 0;}
.display_none {display:none;}