body {
	margin: 0;
	padding: 0;
	color: #262626;
	font: normal 12px Arial;
}
table td, table th {
	font-size: 12px;
}
a {
	color: #206080;
}
a:hover {
	text-decoration: underline;
}
.ul {
	text-decoration: underline;
}
u {
    text-decoration: none !important;
}
hr {
	border: none;
	border-top: solid 1px #CFCFCF;
	margin: 20px 0;
	_margin: 0;
}
h1, h2 {
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
}
h1 {
	color: #802040;
}
h2 {
	color: #206080;
}
p,
table.inline {
	padding-left: 20px;
}
dt {
	float: left;
	color: #206080;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
ul {
	font-size: 14px;
}
ul li {
	margin-bottom: 5px;
}
ol {
	font-size: 14px;
	list-style: none;
	padding: 0 0 0 20px;
	margin: 0;
}
ol li {
	list-style: none;
	padding: 0;
	overflow: hidden;
	_height: 0;
	margin: 3px 0;
}
ol li span {
	font-weight: bold;
	background: #69f url('http://www.ninjaessays.com/images/2/ol-li.png') center center no-repeat;
	line-height: 20px;
	text-align: center;
	color: #fff;
	float: left;
	width: 20px;
	margin-right: 8px;
}

#content {
	background: #E7F3EC url('http://www.ninjaessays.com/images/2/allbg.png') center top repeat-y;
	width: 956px;
	_width: 980px;
	padding: 0 20px;
	margin: auto;
}
#header {
	overflow: hidden;
	_height: 0;
}
#columns {
	display: table-row;
	background: #fff url('http://www.ninjaessays.com/images/2/menubg.gif') left top repeat-y;
	zoom: 1;
}
html[xmlns*=""] body:last-child #header {
    display: table-row;
}
#left-block {
	display: table-cell;
	width: 200px;
	float: left;
	font-size: 14px;
}
.menu,
.menu li{
	list-style: none;
	margin: 0;
	padding: 0;
}


.menu {
	overflow: hidden;
	margin-bottom: 0px;
}
.menu li {
	margin-top:    -1px;
	margin-bottom: -2px;
}
.menu li a {
	border-bottom: solid 1px #F2FFF8;
	border-top: solid 1px #CED9D2;

	display: block;
	height: 36px;
	width: 144px;
	line-height: 36px;
	overflow: hidden;
	padding-left: 16px;

	text-decoration: none;
	color: #404040;
}
.menu li a:hover {
	text-decoration: underline;
}
.menu li.selected {
	margin-top: 0;
	margin-bottom: 1px;
}
.menu li.selected a{
	border: none;
	background: url('http://www.ninjaessays.com/images/2/menu-selected.png') left center no-repeat;
	color: #fff;
	width: auto;
	text-shadow: 0 0 1px #448;
	text-decoration: none;
}

.button {
	background: url('buttons0.png') left top no-repeat;
	height: 36px;
	text-align: center;
	text-decoration: none;
	border: none;
	font: normal 14px/36px Arial;
	cursor: pointer;
}
.button.center {
	margin-left: auto;
	margin-right: auto;
}
a.button {
	display: block;
}
.button:hover {
	text-decoration: none;
}
.button img {
	border: none;
}

.button.orange {
	color: #fff;
	text-shadow: -1px -1px 1px #E58800;
	background-color: #f90;
	background-position: left top;
	width: 160px;
	font-weight: bold;
	font-size: 14px;
}
.button.orange.big {
	width: 200px;
	background-position: -504px top;
}
.button.orange.small {
	line-height: 26px;
	height: 26px;
	background-position: -704px top;
}
.button.blue,
input.button.blue,
a.button.blue {
	color: #fff !important;
	text-shadow: -1px -1px 1px #5991D2;
	background-color: #69c;
	background-position: -400px top;
	width: 104px;
	font-weight: bold;
	font-size: 12px;
	line-height: 24px;
	height: 24px;
}

#site-logo {
	float: left;
	height: 74px;
	_height: 90px;
	width: 200px;
	text-align: center;
	padding-top: 16px;
}
#site-logo img{
	border: none;
}
#header .hello {
	padding-right: 35px;
	margin-top: 28px;
	font-size: 10px;
	font-style: italic;
	max-width: 250px;
}
#header .hello span {
	font-style: normal;
	font-size: 14px;
}
#header .logout {
	margin-top: 28px;
	text-align: right;
}
#header .logout a{
	color: #802040;
	text-decoration: underline;
}
#header .livechat {
	margin: 18px 20px 0 0;
	background: url('http://www.ninjaessays.com/images/2/live-chat.png') left top no-repeat;
	width: 100px;
	height: 36px;
}
.button.bgreen {
	background-color: #CF6;
	background-position: -300px;
	width: 100px;
	color: #fff;
	font-weight: bold;
}
#header .phone {
	font-size: 14px;
	text-align: right;
	margin-top: 28px;
	margin-right: 20px;
}
#header .phone span {
	font-size: 10px;
	color: #206080;
	display: block;
}
#header .blocks {
	float: right;
}
#header .blocks div {
	float: left;
}
#footer {
	text-align: center;
	margin: 0 -20px;
	background: url('http://www.ninjaessays.com/images/2/footer.png') center bottom no-repeat;
	padding: 25px 25px 25px 200px;
}

#main-block {
	background: #fff;
	display: table-cell;
	width: 680px;
	_width: 740px;
	float: left;
    position: relative;
	padding: 30px 40px 15px 20px;
}



.discount-info,
.hot-offers {
	overflow: hidden;
	_height: 0;
	padding: 0;
	margin: 0;
	display: block;
}
.discount-info dt,
.discount-info dd,
.hot-offers dt,
.hot-offers dd {
	float: left;
}
.hot-offers dt,
.hot-offers dd {
	padding: 4px 0;
}
.discount-info dd,
.hot-offers dd{
	margin-left: 0px;
}
.discount-info .graph
{
	cursor: help;
	display: block;
	width: 300px;
	height: 36px;
	background: #999 url('http://www.ninjaessays.com/images/2/meterbg.png') left bottom repeat-x;
	position: relative;
	float: left;
	
}
.graph ul,
.graph li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.graph ul {
	position: absolute;
	width: 300px;
/*	height: 36px;*/
}
.graph li {
	padding-left: 9px;
	width: 91px;
	float: left;
	line-height: 36px;
	color: #fff;
	font-weight: bold;

	text-shadow: 0 0 1px #444;
	_width: 100px;
}
.graph .value-bar {
	position: absolute;
	background: #fc3 url('http://www.ninjaessays.com/images/2/meterbg.png') left top repeat-x;
	height: 36px;
}
.discount-info dt,
.hot-offers dt{
	color: #206080;
	float: left;
	padding: 0 12px 0 20px;
	line-height: 36px;
	font-weight: bold;
}

.hot-offers dd {
	border-left: solid 4px #E7F3EC;
	padding-left: 0px;

	width: 525px;
	_width: 535px;
}

dl.discount-info {
}
dl.discount-info .tip {
	display: none;
	position: absolute;
	width: 224px;
	height: 28px;
	background: url('http://www.ninjaessays.com/images/2/d-meter-tip-bg.png') left top no-repeat;
	padding: 5px 0 15px;
	text-align: center;
}

.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.table a {
	text-decoration: none;
}
.table a:hover {
	text-decoration: underline;
}
.table th {
	border-left: solid 1px #EAEAEA;
	background: #ccc url('th-bg000.png') right top repeat-x;
	height: 36px;
	text-align: left;
	padding: 0 15px;
}
.table td {
	padding: 8px 15px;
}
.table .blue {
	color: #206080;
}
.table tr.even {
	background: url('tr-even-.gif') left top;
}
dl.deadline,
dl.deadline dt,
dl.deadline dd {
	float: none;
	color: #404040;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
dl.deadline dd {
	font-size: 17px;
}
.icon {
	text-decoration: none;
	line-height: 20px;
	font-size: 3px;
	padding: 10px;
	padding-right: 9px;

	
	background: #00f;
	background: url('icons000.png') 0 0 no-repeat;
	margin-right: 1px;
}
:-moz-any(body) .icon {
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 23px;
    padding: 0;
    width: 20px;
}
a.icon:hover {
	text-decoration: none;
}
.icon.pay-cc {
	background-position: -20px 0;
}
.icon.pay-credit {
	background-position: 0 0;
}
.icon.new-order-preff {
	background-position: -40px 0;
}
.icon.download {
	background-position: -80px 0;
}
.icon.feedback {
	background-position: -60px 0;
	
}
.icon.email {
	background: url('email_16.png') 0 0 no-repeat;
}
.icon.plagreport {
	background: url('http://www.ninjaessays.com/images/2/icon_plag_report20x20.png') 0 0 no-repeat;
}
.icon.request {
	background-position: -100px 0;
}
.icon.extend {
	background-position: -120px 0;
}
.icon.delete {
	background-position: -140px 0;
}




.discounts-bar {
	width: 684px;
	height: 220px;
	background: url('http://www.ninjaessays.com/images/2/discounts-bg-silver.jpg') left top no-repeat;
}
.discounts-bar.gold{
	background-image: url('http://www.ninjaessays.com/images/2/discounts-bg-gold.jpg');
}
.discounts-bar.platinum{
	background-image: url('http://www.ninjaessays.com/images/2/discounts-bg-platinum.jpg');
}
.discounts-bar .value span {
	position: absolute;
	padding-left: 15px;
}
.discounts-bar dl,
.discounts-bar dt,
.discounts-bar dd {
	padding: 0;
	margin: 0;
}

.discounts-bar ul,
.discounts-bar li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.discounts-bar .bar {
	margin: 93px 0 0 5px;
	display: block;
	background: #666 url('http://www.ninjaessays.com/images/2/discounts-meter.png') left bottom repeat-x;
	position: relative;
	
	width: 665px;
	height: 30px;
	float: left;

}
.discounts-bar .value {
	background: #F90 url('http://www.ninjaessays.com/images/2/discounts-meter.png') left top repeat-x;

	position: absolute;
	height: 30px;
	width: 50%;
	line-height: 30px;

	color: #fff;
	text-shadow: 0 0 1px #444;

	font-weight: bold;
}

.discounts-bar ul {
	position: absolute;
	width: 664px;
}


.discounts-bar li {
	float: left;
	text-align: right;
	padding-right: 10px;
	width: 100px;
	_width: 110px;
}
.discounts-bar .pointer {
    float: right;

    height: 27px;
    width: 22px;
    padding: 27px 2px 0 0;
    margin: -1px -12px 0 0;

    font-size: 10px;
    text-align: center;
    color: #262626;
	background: url('http://www.ninjaessays.com/images/2/discounts-meter-pointer.png') left top no-repeat;
    text-shadow: 0 0 1px #EEEEEE;
}



ul.aff-earnings,
.aff-earnings li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.aff-earnings {
	width: 100%;
	background: url('http://www.ninjaessays.com/images/2/affiliate-graph.png') center 10px no-repeat;
	padding: 120px 0 20px 0;
	overflow: hidden;
	_height: 0;
}
.aff-earnings li {
	float: left;
	width: 50%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #404040;
}
.aff-earnings li span {
	display: block;
	font-size: 21px;
}


h1 .per-page {
	font-size: 12px;
	color: #404040;
	float: right;
	font-weight: normal;
}
h1 .per-page select {
	color: #404040;
	border: none;
	background: #F2F2F2;
}

.pagination {
	text-align: center;
	font-size: 14px;
	padding: 1.5em;
}
.pagination a {
    margin: 7px;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .current, .pagination .current a, .pagination .current a:hover {
	text-decoration: none;
	color: #404040;
	font-weight: bold;
        margin-right: 8px;
        margin-left: 8px;
}
.button.bgrey {
	color: #404040;
	width: 140px;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 0 0 3px #fff;
	margin: 16px auto 0;
	background-color: #ccc;
	background-position: -160px;
}
.black {
	color: #000;
}
.bold {
	font-weight: bold;
}
.legend dt {
	margin-right: 20px;
}
.legend dd span {
	line-height: 20px;
}
.legend dd {
	width: 180px;
	float: left;
	font-size: 10px;
	margin-left: 0;
}

.hot-offers.surveys dt {
	width: 120px;
	line-height: 18px;
	padding-top: 5px;
}
.hot-offers.surveys dd {
	margin-left: 0;
	width: 500px;
}
.hot-offers dd.merge {
	clear: both;
	width: 100%;
	float: none;
	margin: 0 0 10px 0;
	padding: 15px;
	border: none;
	border-bottom: solid 1px #CFCFCF;
	overflow: hidden;
	_height: 0;
}
.hot-offers.surveys dd:last-of-type{
	border: none;
}
.hot-offers dd.merge .button {
	float: right;
	margin-right: 20px;
}

#validation
{
	display: block;
	color: #F00;
	font-size:16px;
}
div.extended_answer
{
	display:none;
	font-size:10px;
}
#save_survey .button {
	margin: 1em auto;
}
#questions_form li,
ol.survey li {
	margin-top: 1em;
	line-height: 20px;
}
#questions_form li li,
ol.survey li li {
	margin-top: 3px;
	line-height: 16px;
}
#questions_form textarea {
	width: 540px;
	border: solid 1px #7F7F7F;
}
#questions_form table {
	padding-left: 40px;
}
h2.credits {
	position: relative;
	_margin: 0 0 0 0;
	line-height: 36px;
}
h2.credits .button {
	position: absolute;
	right: 0;
	top: 0;
}
.msg.thankyou {
	background: #EFFFCF;
	color: #404040;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.dis.thankyou {
	color: #404040;
	text-align: center;
	font-size: 14px;
	font-weight: normal;

}

.survey20.thankyou {
	color: #6C7B8B;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
        padding-left: 20px;
}
.preferred {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.preferred td,
.preferred th {
	height: 36px;
}
.preferred .stars,
.top-writers .stars {
	margin: 1px auto 5px auto;
	display: block;
	width: 105px;
	background: url('http://www.ninjaessays.com/images/2/stars.png') left center no-repeat;
	height: 20px;
	cursor: help;
}
.preferred .writer td {
	border-left: solid 1px #EAEAEA;
	background: #ccc url('th-bg000.png') right top repeat-x;
	text-align: left;
	padding: 0 15px;
}
.preferred .writer.opened td {
	background-position: right -36px;
}

.preferred .writer.selected td,
.preferred .writer.opened.selected td {
	background-position: right -72px;
}
.preferred .writer .show {
	height: 36px;
	line-height: 36px;
	padding-right: 18px;
	display: block;
	text-decoration: none;
	text-align: center;
	color: inherit;
	background: url('http://www.ninjaessays.com/images/2/pref-open.png') right top no-repeat;
}
.preferred .writer.opened .show {
	background-position: right bottom;
}
.preferred .order {
	display: none;
}
.preferred tr.even {
	background: url('tr-even-.gif') left top;
}
.preferred a {
	text-decoration: none;
}
.preferred a:hover {
	text-decoration: underline;
}

#preferred-popup {
	padding: 13px 10px 10px 35px;

	width: 215px;
	height: 79px;
	
	_width: 260px;
	_height: 102px;


	position: absolute;
	display: none;
	background: url('http://www.ninjaessays.com/images/2/preferred-popup-bg.png') left top no-repeat;
	text-align: center;
}
#preferred-popup .text {
	color: #262626;
	font: bold 12px Arial;
}
#preferred-popup .button {
	margin: 20px auto 0;
}
.preferred-footer {
	text-align: center;
	padding: 25px;
}
.preferred-footer strong {
	display: block;
}
.preferred-footer .button {
	margin-top: 10px;
}
.preferred .sortable {
	cursor: pointer;
}
.table.top-writers td {
	border-left: solid 1px #EAEAEA;
	background: #ccc url('th-bg000.png') right -110px repeat-x;
	height: 65px;
	text-align: center;
	vertical-align: middle;
	padding: 0 15px;
}
.table.top-writers .spaned {
	width: 125px;
	text-align: center;
}
.table.top-writers table {
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
.table.top-writers table td {
	border: none;
	background: none;
	height: auto;
	text-align: left;
	padding: 0;
}

#want_to_spend_dollars, #want_to_spend_cents {
	border: solid 1px #D9D9D9;
	padding: 8px 5px;
}
.spent-credit .grey{
	color: #BCBCBC;
	font-size: 18px;
}
h2.half {
	float: left;
	width: 50%;
	text-align: center;
	padding: 0;
	margin: 0 0 20px;
}
.clear { clear: both}
.center {
	text-align: center;
}
ol.mar10 li {
    margin-top: 10px;
    margin-bottom: 10px;
}
ol.simple.mar5 li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.f14 td {
    font-size: 14px;
}

ol.simple {
	list-style: decimal;
	padding: 0 0 0 20px;
	margin: 0 0 0 20px;;
}
ol.simple li {
	font-size: 12px;
	list-style: decimal;
	padding: 0;
	margin: 4px 0;
    display: list-item;
    overflow: visible;
}
ul.dash li {
    list-style: disc;
}
ul.none li {
    list-style: none;
}
table.align-center td {
    text-align: center;
}


table.identity-verification td {
    width: 100px;
}
#iv-credit-card,
#iv-passport,
#iv-driver-license,
#iv-visa {
    position: absolute;
    left: -1000px;
    top: -1000px;
}
.shadow {
    -moz-box-shadow: 2px 2px 2px #000;
}
ul.img-ok li {
    list-style-image: url('http://www.ninjaessays.com/images/2/Check-icon.png');
}



div.message {
    padding-bottom: 10px;
}


.first div.message-top {
    background: url("http://www.ninjaessays.com/images/2/user_survey_order_messages_1_09.png") no-repeat scroll right top transparent !important;
    width: 640px !important;  
    height: 11px;
}

.first div.message-center {
    background:#daeff2; 
    width: 640px;
    height: 100%;
}
.first div.message-text {
    background:#daeff2; 
    width: 600px;
    height: 100%;
    padding:10px 20px 10px 20px;
}

.first div.message-bottom{
    background: url("http://www.ninjaessays.com/images/2/user_survey_order_messages_1_11.gif") no-repeat scroll right top transparent !important;
    width: 640px !important;
    height: 27px;
}


.second div.message-top {
    background: url("http://www.ninjaessays.com/images/2/user_survey_order_messages_1_03.png") no-repeat scroll right top transparent !important;
    width: 610px !important;  
    height: 8px;
    padding-left: 30px;
}

.second div.message-center {
    background:#f2f2f2; 
    width: 610px;
    height: 100%;
    margin-left: 30px;
}
.second div.message-text {
    background:#f2f2f2; 
    width: 570px;
    height: 100%;
    padding:10px 20px 10px 20px;
}

.second div.message-bottom{
    background: url("http://www.ninjaessays.com/images/2/user_survey_order_messages_1_06.png") no-repeat scroll right top transparent !important;
    width: 610px !important;
    height: 27px;
    padding-left: 30px;
}
h1#messages{
    padding: 0px;
}

div.message-bottom span.message-bottom-data{
    padding-left: 370px;
    margin-top: 10px;
    position: absolute;
}
.second div.message-bottom span.message-bottom-data{
    padding-left: 340px;
    margin-top: 10px;
    position: absolute;
}
div.message-bottom span.owner{
    font-weight: bold;
}
div.header-panel{
    background: url("th-bg000.png") repeat-x scroll right top #CCCCCC;
    border-left: 1px solid #EAEAEA;
    height: 36px;
}
div.header-panel a{
    height: 25px;
    text-decoration:none;
}
div.header-panel a div{
    display: inline;
    padding-left: 10px;
    color:#000000;
    font-size:	12px;
    padding-top: 10px;
    position: absolute;
}
div.header-panel img{
    margin-top: 6px;
    padding-left: 10px;
}
div.header-panel #messages_count_new{
    font-weight: bold;
    color: #206080;
}
div.header-panel #messages_count,#messages_count_delimitr{
    color: #206080;
}
table.table th{
    color: #206080;
}
.even_first{
    background-color: #e7f3ec;
}
.order_detail_info{
    height: 41px;
    background-color: #e7f3ec;
    font: normal 18px Arial;
    color: #414944;
    margin-bottom: 5px;
}
.order_detail_info span {
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    
}
.pay_paid{
    color:#802040;
}
.pay_paid2{
    color:#000;
}
.pay_paid a{
    color:#802040;
}
.pay_paid2 a{
    color:#000;
}

.description{
    padding-top: 10px;
    color: #262626;
    font: 14px Arial;
    font-weight: bold;
    padding-left: 15px;
}
.description_text p{
     padding-top: 10px;
}
.description_text{
    background-color: #f1f1f1;
}
.resubmit{
    margin: 0 -20px;
    padding: 0px 25px 20px 60px;
    text-align: center;
}
.resubmit_text{
    margin: 0 -20px;
    padding: 20px 25px 0px 30px;
    text-align: center;
}
.upload_files{
    padding-left: 15px;
    padding-bottom: 10px;
}
.pt14{
    font: 14px Arial;
    font-weight: bold;
}

#verification-popup {
    display: none;
    background: url('http://www.ninjaessays.com/images/2/vrf-popup-bg.png') left top no-repeat;
    position: absolute;
    width: 332px;
    _width: 360px;
    height: 127px;
    _height: 157px;
    z-index: 15;
    margin: 0;
    padding: 13px 14px 17px 14px;
}
#verification-popup .x {
    text-decoration: none;
    font-size: 1px;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background: url('http://www.ninjaessays.com/images/2/vrf-popup-x.png') left top no-repeat;
    right: 14px;
    top: 11px;
}
#verification-popup dt {
    font: normal 18px Arial;
    color: #414141;
    float: none;
    margin-bottom: 6px;
}
#verification-popup dd {
    margin: 0;
    padding: 0;
}
#verification-popup .later {
    position: absolute;
    left: 14px;
    top: 102px;
}
#verification-popup .pass {
    position: absolute;
    left: 185px;
    top: 102px;
}
#opaco {
    display: none;
    background-color:#000000;
    left:0;
    opacity:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:10;
}
.stripe {
    margin-top: 5px;
}
.stripe dt,
.stripe dd {
    padding: 0;
    margin: 0;
    display: block;
    float: none;
}
.stripe dt {
    cursor: pointer;
    padding: 10px;
    height: 26px;
    _height: 46px;
    font: bold 18px/26px Arial;
    color: #414944;
}
.order-payments .notpaid {
    font-size: 14px;
    color: #802040
}
.stripe dd {
    margin-top: 5px;
    display: none;
}
.stripe.order-payments dt {
    background: #DAECE1 url('http://img1.template-site/images/stripe.png') left top no-repeat;
}
.stripe.order-revisions dt {
    background: #CAE6EC url('http://img1.template-site/images/stripe.png') left bottom no-repeat;
}

.stripe .collapse span {
    font: normal 14px Arial;
    color: #005599;
    border-bottom: dotted 1px #005599;
/*    background: none;*/
}
.stripe span.collapse {
    padding: 5px 13px 0 0;
    background: url('http://img1.template-site/images/stripecollapse.gif') right -27px no-repeat;
    float: right;
    height: 26px;
}
.stripe.expanded span.collapse {
    background-position: right top;
}
.order-revisions .available {
    font: normal 14px Arial;
    color: #277648;
}

.cheack{
 height: 100%;
}
.cheack li {
    float: left;
    list-style: none;
	height: 16px;
    background: url('http://www.ninjaessays.com/images/2/Check-icon.png') left top no-repeat;
	padding-left: 20px;
	padding-right: 20px;
}
 
.cheack li a {
    display: block;
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

#popup_password {
    background: url(http://www.ninjaessays.com/images/popup.png) no-repeat 0 0;
    position: absolute;
    width:391px;
    height: 159px;
    margin-left: 96px;
    margin-top:-132px;
    display: none;
}

.input_popup {
    background: url(http://www.ninjaessays.com/images/input_popup.png) no-repeat 0 0;
    border: 0;
    height: 27px;
    width: 182px;
    padding-left: 5px;
}

#close_popup {
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#table_popup {
    position:relative;
    float:left;
    margin-left: 41px;
    margin-top: 22px;
    width:307px;
    height: 70px;
}

#table_popup td {
    padding: 0 !important;
    font-size: 11px !important;
}

#table_change {
    position: relative;
    float: left;
    margin-left:108px;
    margin-top:12px;
    width: 93px;
    height: 28px;
}

#popup_password img {
    border: 0;
}

#table_change input {
    border: none;
    width: 93px;
    height: 28px;
    margin: 0;
    padding: 0;
    background: url(http://www.ninjaessays.com/images/change.png) no-repeat 0 0;
    cursor: pointer;
}

#table_dont_change {
    position: relative;
    float: right;
    margin-right:89px;
    margin-top:12px;
    width: 93px;
    height: 28px;
}

#text_popup {
    position: relative;
    float: left;
    margin-top:4px;
    margin-left: 28px;
    font-weight: bold;
}

#my_orders a, #my_orders a:hover  {
    color: #802040 !important;
    text-decoration: none !important;
}


.old-design,
.old-design:link,
.old-design:visited
{
    display: block;
    width: 170px;
    height: 20px;
    margin-bottom: 20px;
    background: url('http://www.ninjaessays.com/images/2/old-design-button.png') left top no-repeat;
    text-decoration: none;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
.old-design:hover {
    background-position: left -20px;
    text-decoration: none;
}
.old-design:active {
    background-position: left -40px;
    text-decoration: none;
}
.new-design_affiliate_program {
    margin-left: -32px;
    margin-top: 15px;
    text-align: center;
}

.banner_exlusive_offer{width:677px; height:180px; background:url(http://www.ninjaessays.com/images/banner_offer.jpg) no-repeat; margin:10px auto; position:relative;}
.banner_exlusive_offer .button_in_offer{width:99px; height:36px; position:absolute; bottom:20px; right:20px;}
.banner_exlusive_offer .button_in_offer a{display:block; width:99px; height:36px; background:url(http://www.ninjaessays.com/images/button_buyNOW.jpg) no-repeat;}
.number_page_download{width:240px; height:18px; font:18px/18px Arial, Helvetica, sans-serif; font-weight:bold; color:#802040;}
.number_page_download a {font:18px/18px Arial, Helvetica, sans-serif; font-weight:bold; color:#802040;}
.revisions {margin-top: 15px;}
.revisions .data_f{width:120px; float:left; font:12px/18px Arial, Helvetica, sans-serif; color:#333;}

/* 5 star club (new discount page) */
.main_star_container{width:680px;}
.title_star{font:24px/47px Arial, Helvetica, sans-serif; color:#333333; height:45px; }
p.top_info{margin:0px; padding:0px; font:14px/19px Arial, Helvetica, sans-serif; color:#333333;}
p.top_info span{color:#b60e0e; font-weight:bold;}
.star_block{margin:20px 0px 25px 0px; }
.star_block_title{font:24px/19px Arial, Helvetica, sans-serif; color:#333333; font-weight:bold; margin-bottom:10px;text-align:center; }
.star_block_title span{color:#b60e0e;}
.main_peach_container{width:680px; background:url(http://www.ninjaessays.com/images/bottom_box.png) no-repeat bottom left; padding:0px 0px 50px 0px; margin:0px auto;}
.peach_star_block{width:665px; background:#fff3d8; border-radius:7px 7px 0px 0px; -moz-border-radius:7px 7px 0px 0px; -webkit-border-radius:7px 7px 0px 0px; padding:15px 0px 0px 15px; font:16px/19px Arial, Helvetica, sans-serif; color:#333333; }
span.star_club_info{ font:16px/19px Arial, Helvetica, sans-serif; color:#b60e0e; font-weight:bold; line-height:60px;}
.star_1{height:60px; background:url(http://www.ninjaessays.com/images/star_1.jpg) no-repeat; padding-left:82px; line-height:60px; margin-bottom:15px;}
.star_2{height:60px; background:url(http://www.ninjaessays.com/images/star_2.png) no-repeat; padding-left:82px; line-height:60px; margin-bottom:15px;}
.star_3{height:60px; background:url(http://www.ninjaessays.com/images/star_3.jpg) no-repeat; padding-left:82px; line-height:60px; margin-bottom:15px;}
.star_4{height:60px; background:url(http://www.ninjaessays.com/images/star_4.jpg) no-repeat; padding-left:82px; line-height:60px; margin-bottom:15px;}
.star_5{height:60px; background:url(http://www.ninjaessays.com/images/star_5.png) no-repeat; padding-left:82px; line-height:60px; margin-bottom:15px;}
.star_6{height:50px; background:url(http://www.ninjaessays.com/images/extras_img.jpg) no-repeat; padding-left:82px; line-height:50px;}
.main_member_sclub{margin:0px auto 55px auto; width:600px; }
.title_member_sclub{font:24px/19px Arial, Helvetica, sans-serif; color:#333333; text-align:center; font-weight:bold;}
.list_ban_info ul{list-style-type:none; font:14px/19px Arial, Helvetica, sans-serif; color:#333333; margin:20px 0px 20px 73px; padding:0px;}
.list_ban_info ul li{background:url(http://www.ninjaessays.com/images/green_mark.gif) no-repeat 0px 7px; padding:0px 0px 0px 10px; margin:0px;}
.list_ban_info ul li span{color:#b60e0e;}
.ban_price{height:116px; background:url(http://www.ninjaessays.com/images/dark_ban.png) no-repeat; width:465px; position:relative; margin:0px 0px 15px 52px;}
.price_info{width:144px; height:52px; background:#fff3d8; position:absolute; top:24px; left:170px; font:16px/22px Arial, Helvetica, sans-serif; color:#333333;font-weight:bold; padding:5px 0px 0px 5px;}
.price_info span{ font:24px/26px Arial, Helvetica, sans-serif; color:#b60e0e; font-weight:bold; }
.buy_now_bt{width:145px; height:58px; background:url(http://www.ninjaessays.com/images/buy_now_bg.png) repeat-x; border-radius:0px 5px 5px 0px; -moz-border-radius:0px 5px 5px 0px; -webkit-border-radius:0px 5px 5px 0px; position:absolute; top:24px; right:0px;}
.buy_now_bt a, .buy_now_bt a span.buy_now_top{display:block; width:145px; height:53px; text-align:center; font:24px/21px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none!important; font-weight:bold; padding-top:5px; }
.buy_now_bt a span.buy_now_top span{font:16px/21px Arial, Helvetica, sans-serif; font-weight:normal; text-decoration:none;}
.coupon_info{text-align:center; font:16px/21px Arial, Helvetica, sans-serif; color:#333333;}
.coupon_info a{font:16px/21px Arial, Helvetica, sans-serif; color:#b60e0e!important; font-weight:bold;}
.coupon_info span{color:#b60e0e; font-weight:bold;}
.title_disc_annual_VIP_card{font:30px/21px Arial, Helvetica, sans-serif; color:#333333; text-align:center; font-weight:bold; height:50px; line-height:50px;}
p.info_annual_VIP_card{font:14px/19px Arial, Helvetica, sans-serif; color:#333333; font-weight:bold; padding:0px; margin:20px 0px 15px 0px;}
p.info_annual_VIP_card span{font-weight:normal;}
.form_e-mail_main{width:331px; height:158px; background:url(http://www.ninjaessays.com/images/e-mail_ban.jpg) no-repeat; margin:0px auto 35px auto; position:relative;}
.form_e-mail_field{width:184px; height:93px; position:absolute; bottom:0px; right:0px;}
input.e-mail{width:168px; height:23px; border:0px;}
input.send_bt{width:171px; height:28px; background:url(http://www.ninjaessays.com/images/send_bt_bg.gif) repeat-x; font:14px/18px Arial, Helvetica, sans-serif; color:#ffffff; font-weight:bold; border:0px; margin-top:10px;}
.enjoy_benefits{font:24px/28px Arial, Helvetica, sans-serif; color:#b60e0e; font-weight:bold; text-align:center;}
.blue_block{width:680px; height:250px; background:url(http://www.ninjaessays.com/images/blue_ban_feb.gif) no-repeat; margin:13px 0px 30px 0px;}
.get_vip_card{ width:390px; height:59px; background:url(http://www.ninjaessays.com/images/get_card_bg.png) repeat-x; border-radius:5px 5px 5px 5px; -moz-border-radius:5px 5px 5px 5px; -webkit-border-radius:5px 5px 5px 5px; margin:0px auto; text-align:center; line-height:59px; margin-bottom:20px;}
.get_vip_card a, .get_vip_card a span {width:390px; height:59px; text-align:center; line-height:59px!important; font:24px Arial, Helvetica, sans-serif; font-weight:bold; color:#ffffff; text-decoration:none!important; text-shadow:#ff7a00 -1px -1px;}

.popup_block{display: none; top:592px; left:59%; background:#fff;text-align:center;float: left; height:165px; background:url(http://www.ninjaessays.com/images/popUp_bg.png) no-repeat; width:318px; font-size: 1.2em;position:fixed;font:normal 14px/17px Arial, Helvetica, sans-serif; position:absolute; z-index: 99999; color:#fff;}
.popup_block .textCoin { padding:0px; margin:7px 0px 5px 0px; font-size:12px; display:block;}
.popup_block form { margin:10px 5px; width:315px; padding:0px;}
.popup_block form label { color:#fff; font:normal 12px Arial, Helvetica, sans-serif; margin:0px 5px 0px 0px}
.popup_block form input.mailVal { background:url(http://www.ninjaessays.com/images/inp_notify.gif) no-repeat; margin-bottom:0px; width:228px; height:29px; border:none; border:1px;  color:#333; font:normal 12px Arial, Helvetica, sans-serif;}
.popup_block .succsess_msg {display: none; margin-top: 50px;}
.popup_block .sending_msg {display: none; margin-top: 70px;}
.popup_block .error {display: none; font:normal 12px Arial, Helvetica, sans-serif; color:red; }
.popup_block .btn_close {border: medium none;float: right;margin: -1px 0 0;position: relative;z-index: 99;}
.popup_block .notify {margin-top:3px;}
.popup_block .notify, .notify button { background:url(http://www.ninjaessays.com/images/notify.gif) no-repeat; width:106px; background-position:0px 0px; cursor:pointer; display:-moz-inline-stack;display:inline-block;clear:both; text-decoration:none; text-align:center;color:#1a5ba5; overflow:hidden; font:bold 12px Arial, Helvetica, sans-serif;  outline:none; border:none; height:30px;}
.popup_block .notify button:hover, notify button:hover span  { background-position:0px -30px; color:#962039;}
.popup_block .notify button:active, notify button:active span {background-position:0px -60px;}
.popup_block .notify button n { border:0; margin:0;position:relative;  height:30px;line-height:30px; background-position:top right;white-space:nowrap; z-index:10;}


.esban-inner{background-color:#badee9;border:2px solid #7ea4b1;width:511px; position: absolute; left:35%;}
	.esban-inner-opened .esban-inner{background-color:#829ba3;border:2px solid #58727c;}
		.esban-inner2{border:1px solid #caeaf9;padding:7px 0 15px 0;}
		.esban-inner-opened .esban-inner2{border:1px solid #8da3ae;}
			.esban-close{position:absolute;right:5px;top:5px;background:url(http://img1.essayontime.com/images/esban-close.png) no-repeat 0 0;height:14px;width:14px;cursor:pointer;}
			.esban-inner2 p{color:#162f37;font-size:24px;text-align:center;margin:0;text-shadow:#fff 0 1px; padding:0px 20px;}
			.esban-inner-opened .esban-inner2 p{text-shadow:#9aa7aa 0 1px;color:#0f2126;}
			.esban-inner2 .head-promotext{font-size:18px;line-height:1.5em;}
/* END 5 star club (new discount page) */

/* CSS Document */
.nav_bt{width:180px; height:22px;margin: 0 auto;}
a.prev_bt, a.prev_bt span {background:url(http://www.ninjaessays.com/images/icon/prev_sprite.png) no-repeat;
 width:55px; display:-moz-inline-stack; display:inline-block;  font-size:10px;
 text-align:right; color:#2164bd; text-decoration:none!important; cursor:pointer; font-weight:bold;
 height:22px; float:left;}
a.prev_bt:hover, a.prev_bt:hover span { background-position:0 -22px; text-decoration:none!important;}
a.prev_bt span { border:0; margin:0;position:relative;height:22px; line-height:20px;background-position:top right; white-space:nowrap;}

a.next_bt, a.next_bt span {background:url(http://www.ninjaessays.com/images/icon/next_sprite.png) no-repeat;
 width:55px; display:-moz-inline-stack; display:inline-block;  font-size:10px;
 text-align:left; color:#2164bd; text-decoration:none!important; cursor:pointer; font-weight:bold;
 height:22px; float:right; }
a.next_bt:hover, a.next_bt:hover span { background-position:0 -22px; text-decoration:none!important;}
a.next_bt span { border:0; margin:0;position:relative;height:22px; line-height:20px;background-position:top right; white-space:nowrap;}
.cl{clear:both;}


/*popup styles*/
.popup-container {width:628px;padding:0 0 20px 20px;}
.popup-container p{padding:0;margin:10px 0 0 0;}
	.popup-container .eopop-header{color:#333333;font-size:18px;font-weight:bold;}
	.popup-separator{background:url(popup-se.gif) repeat-x 0 0;height:2px;}
	.popup-container h3{color:#f07601;font-size:18px;margin:0;}
	.porder-box{background:url(popup-bo.gif) repeat 0 0;padding:15px 10px;margin:4px 0 9px 0;}
		.porder-box a{text-decoration:none;}
		.porder-box a:hover{text-decoration:underline;}
		.popup-container .porder-box p{margin:0;}
		.payinfo-wrap{overflow:hidden;margin:10px 0 0 0;}
			.popup-payment-link{background:url(http://www.ninjaessays.com/images/popup-viza-icon.png) no-repeat 0 1px;display:block;padding:0 0 0 30px;float:left;font-size:15px;margin: 8px 0 0;}
			.popup-order-link{float:right;background: url('button_o.png') no-repeat 0pt 0pt; display: block; width: 195px; text-decoration: none; line-height: 24px; font-size: 15px; height: 24px; color:#fff;text-shadow:#e78000 0 1px; text-align: center;font-weight:bold;}
			.porder-box .popup-order-link:hover{ text-decoration: none; }
            
#inline{font-size:40px;font-weight:bold;}

img.five-star-club-label
{
    position:absolute; 
    right:0px;
    top:0px;
}
.menu li.selected a {background:url(http://www.ninjaessays.com/images/activ_point_bg.png) no-repeat scroll left center transparent;}
#columns {background: url(http://www.ninjaessays.com/images/left_menu_bg.gif) repeat-y scroll left top #FFFFFF;}



.menu li a.star_club{background:url(http://www.ninjaessays.com/images/eot-442-gif_star-FINAL.gif) no-repeat 100px 7px;}
.menu li.selected a.star_club{background:url(http://www.ninjaessays.com/images/activ_point_bg.png) no-repeat scroll left center transparent;}

/* Helpful Extras */
.vas_main h1{font-size:24px; margin:0px; padding-left:10px;}
.vas_main p{font:14px/19px Arial, Helvetica, sans-serif; color:#333333; margin:5px 0px 10px 0px; padding-left:10px;}
.vas_main .vas_container{width:100%; height:144px; background:#e7f2ff; margin-bottom:20px;}
.vas_main .vas_info{width:375px; padding-left:110px; height:144px; background:url(http://www.ninjaessays.com/images/2/blue_vas_bg.gif) repeat-y top right #cde3fb; position:relative;}
.vas_main .right_arr{width:40px; height:144px; background:url(http://www.ninjaessays.com/images/2/right_part_vas.png) no-repeat; position:absolute; top:0px; right:2px; z-index:70;}
.vas_main .vas_title{font: bold 20px Arial, Helvetica, sans-serif; color:#333333; margin:0px 0px 10px 0px; padding-top:10px;}
.vas_main .vas_info p{font: normal 12px/18px Arial, Helvetica, sans-serif; color:#333333; padding-left:0px; position:relative; z-index:100; padding-right:22px; margin:7px 0px;}
.vas_main .vas_info p.important_red{ font: bold 14px Arial, Helvetica, sans-serif;color:#b60e0e; padding-right:0px; }
.vas_main .left_img_vas{width:110px; height:144px; position:absolute; top:0px; left:0px;}
.vas_main .right_vas_block{width:158px; float:right; margin:0px 20px 0px 0px; text-align:center; font: bold 14px/19px Arial, Helvetica, sans-serif; color:#333333;}
.vas_main .discount_vas{font: bold 24px Arial, Helvetica, sans-serif; color:#b60e0e; display:block; padding-top:15px;}
.vas_main a.add_vas{display:block; width:158px; height:36px; text-align:center; background:url(http://www.ninjaessays.com/images/2/add_to_order_sprite.png) repeat-x; font: bold 20px Arial, Helvetica, sans-serif; color:#ffffff; text-shadow:#ff6200 0px -1px; line-height:36px; text-decoration:none; margin-top:5px;}
.vas_main a.add_vas:hover{background-position:0px -36px; text-shadow:#ff6200 0px 1px; width:157px; border-left:1px #cf6b01 solid; }
.vas_main .vas_container.hot_offer{box-shadow:0 0 10px #e3865e; -moz-box-shadow:0 0 10px #e3865e; -webkit-box-shadow:0 0 10px #e3865e; position:relative;}
.vas_main .vas_container.hot_offer .vas_title{margin-bottom:8px;}
.vas_main .vas_container.hot_offer .right_arr{background:url(http://www.ninjaessays.com/images/2/hot_offer_right_part.png) no-repeat right center;}
.vas_main .vas_container.hot_offer p{margin:5px 0px;}
.vas_main .vas_container.hot_offer ul{margin:0px; padding:0px; list-style-type:none; font-size:12px; color:#333333;}
.vas_main .vas_container.hot_offer ul li{background:url(http://www.ninjaessays.com/images/2/hot_offer_mark.gif) no-repeat 0px 5px; padding:0px 0px 3px 10px; margin:0px;}
.vas_main .vas_container.hot_offer .left_img_vas img{position:relative; top:-13px; left:0px;}
.vas_main .vas_container.active_vas{background:url(http://www.ninjaessays.com/images/2/arr_active_vas.png) no-repeat 638px 8px #f2fbe1;}
.vas_main .vas_container.active_vas .vas_info{background:url(http://www.ninjaessays.com/images/2/green_vas_bg.gif) repeat-y top right #d8f2a4;}
.vas_main .vas_container.active_vas .vas_info .right_arr{background:url(http://www.ninjaessays.com/images/2/right_part_vas_active.png) no-repeat;}
.vas_main .add_vas.cancel_vas{ background-position:0px -72px; color:#1d64ad; text-shadow:#e7e6e6 0px -1px;}
.vas_main .add_vas.cancel_vas:hover{background-position:0px -108px; border-left-color:#b4b4b4;text-shadow:#e7e6e6 0px -1px; }
/* END Helpful Extras */
#pay_span {padding-left: 346px; padding-top: 0px; width: 400px; padding-bottom: 0px; margin-bottom: 0px; height: 35px;}


.customer_contentinfo{
	background: none repeat scroll 0 0 #28313A;
    bottom: 0;
    color: #6C7786;
    left: 0;
    padding-top: 45px;
    position: absolute;
    width: 100%;
	font: normal 13px 'Open Sans', sans-serif; 
}
.customer_mainFooWrap{
	background: none repeat scroll 0 0 #313D4C;
    height: 249px;
}
.baseWidthCenter{
	margin: 0 auto;
    width: 980px;
}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}



.leftFooCol{ width:260px; float:left;}
.centralFooCol{width:380px; float:left;}
.rightFooCol{ width:340px; float:right;}
.copy{ margin:0px 0px 30px 0px;}
.customer_contentinfo .logo{ margin:0px 0px 0px -100px; width:377px; height:112px;}
.whiteArrList{ list-style-type:none; color:#ffffff; font-size:13px; margin:10px 0px;}
.whiteArrList a{color:#ffffff; text-decoration:none;}
.whiteArrList li{ background:url(spriteIc.png) no-repeat 0px -230px; padding:7px 0px 7px 15px;}
.whiteArrList li.yellowItem{ background-position:0px -255px; color:#ffbe0c;}
.whiteArrList li.yellowItem a{color:#ffbe0c;}
.centralFooCol .whiteArrList{margin:20px 0px;}
.centralFooCol .whiteArrList li{ width:130px; float:left;} 
.payAccept{ padding:30px 0px 12px 0px; background:url(paymentS.png) no-repeat right 25px; border-bottom:1px #6c7786 solid;}
.authorize{ padding:15px 0px; background:url(authoriz.jpg) no-repeat right 12px;}
.customer_contentinfo .phoneAndLc{float:none; margin-top:10px;}
.customer_contentinfo .phone{ float:none;}
.customer_contentinfo .lc, .customer_contentinfo .lc:hover, .customer_contentinfo .lc:active{ background-color:transparent; border:0px;}
.disclaimer{ border-top:1px #6c7786 solid; padding:15px 0px 30px 0px; float:left; width:100%;}
.lc{ display:block; height:32px; padding:0px 10px 0px 35px; background:url(spriteIc.png) no-repeat 5px -26px #3e4b5b; color:#ffffff; font: bold 14px/32px 'Roboto', sans-serif; text-decoration:none; border-width:1px; border-style:solid; border-color:#606c7b #4a5666 #3e4b5b #4a5666; margin:0px 0px 0px 30px; float:right; }
.lc:hover, .lc:active{ background-color:#232d39; border-color:#5a6473 #35404c #232d39 #35404c;}